/* line 3, layout-en.scss */
.team-edit-box .team-edit-form label {
  font-weight: normal;
  vertical-align: top;
  min-width: 150px;
  text-align: right;
}

/* line 11, layout-en.scss */
.team-edit-form input, .team-edit-form textarea {
  border: none;
  width: 78% !important;
}

/* line 16, layout-en.scss */
.team-info-edit-btn,
.team-info-edit-btn:hover,
.team-info-edit-btn:link,
.team-info-edit-btn:visited,
.team-dismiss-btn,
.team-dismiss-btn:hover,
.team-dismiss-btn:link,
.team-dismiss-btn:visited {
  width: 120px;
  height: 30px;
  line-height: 30px;
  border: none;
}

/* line 31, layout-en.scss */
.team-member span {
  display: inline-block;
  text-align: center;
  height: 20px;
  border: 1px solid #ff9900;
  font-size: 14px;
  border-radius: 4px;
  margin-left: 10px;
  color: #ff9900;
  padding: 0 5px;
}
