{% extends 'cms/iframe_layout.html' %}
{% load i18n %}

{% block title %}
    {% trans 'x_tool' %}
{% endblock %}

{% block other_css_js %}
    <style>
        .col-md-2{
            position: relative;
            min-height: 1px;
            padding-right: 0px;
            padding-left: 0px;
        }
    </style>
{% endblock %}

{% block container %}
    <div class="ibox-content">
        <div id="tableToolbar">
            <div class="form-group">
                <div class="clearfix">
                    <div class="m-r pull-left col-md-2">
                        <select class="form-control m-b sticky select_search" id="search_category">
                            <option value="">{% trans 'x_all_type' %}</option>
                            {% for c in categories %}
                                <option value="{{ c.id }}">{% if LANGUAGE_CODE == 'zh-hans' %}{{ c.cn_name }}{% else %}{{ c.en_name }}{% endif %}</option>
                            {% endfor %}
                        </select>
                    </div>
{#                    <div class="col-md-2 col-sm-2">#}
                    <div class="m-r pull-left col-md-2">
                        <select class="form-control m-b sticky select_search" id="search_platforms">
                            <option value="">{% trans 'x_all_platform' %}</option>
                            <option value="windows">Windows</option>
                            <option value="linux">Linux</option>
                            <option value="mac">Mac OS</option>
                            <option value="android">Android</option>
                            <option value="ios">IOS</option>
                            <option value="online">{% trans "x_online" %}</option>
                            <option value="others">{% trans "x_other" %}</option>
                        </select>
                    </div>
{#                    <div class="col-md-2 col-sm-2">#}
                    <div class="m-r pull-left col-md-2">
                        <select class="form-control m-b sticky select_search" id="search_license_model">
                            <option value="">{% trans 'x_all_authorization_mode' %}</option>
                            <option value="free">{% trans "x_free" %}</option>
                            <option value="trial">{% trans "x_limit" %}</option>
                            <option value="non-free">{% trans "x_charge" %}</option>
                        </select>
                    </div>
{#                    <div class="col-md-2 col-sm-2">#}
                    <div class="m-r pull-left col-md-2">
                        <input class="form-control m-b sticky" id="search" placeholder={% trans "x_name" %}
                               type="text"/>
                    </div>
                    <div class="col-md-1 col-sm-1">
                        <a class="btn btn-primary" id="table_refresh" onclick="table.refresh();" name="search">
                            <i class="fa fa-search"></i>{% trans 'x_search' %}
                        </a>
                    </div>
{#                    <div class="col-md-3 col-sm-3">#}
                    <div class="m-r pull-right">
                        <a class="btn btn-primary pull-right" href="{% url 'cms_x_tools:category_list' %}">
                            <i class="fa fa-gear"></i> {% trans 'x_type_management' %}
                        </a>
                    </div>
                </div>
                <div class="clearfix">
                    <div class="m-r pull-left">
                        <a class="btn btn-primary" href="{% url 'cms_x_tools:tool_create' %}">
                            <i class="fa fa-plus"></i> {% trans 'x_add' %}
                        </a>
                        <button class="btn btn-danger"
                                data-url="{% url 'cms_x_tools:api:tool-batch-destroy' %}"
                                onclick="table.batchDestroy(this);">
                            <i class="fa fa-remove"></i> {% trans 'x_delete' %}
                        </button>
                        <button class="btn btn-success"
                                data-url="{% url 'cms_x_tools:api:tool-batch-public' %}"
                                onclick="table.batchPublic(this, 1);">
                            <i class="fa fa-eye"></i> {% trans 'x_public' %}
                        </button>
                        <button class="btn btn-warning"
                                data-url="{% url 'cms_x_tools:api:tool-batch-public' %}"
                                onclick="table.batchPublic(this, 0);">
                            <i class="fa fa-eye-slash"></i> {% trans 'x_hide' %}
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <table id="table"
               data-toggle="table"
               data-toolbar="#tableToolbar"
               data-toolbar-align="center"
               data-show-refresh="false"
               data-search="false"
               data-pagination="true"
               data-side-pagination="server"
               data-url="{% url 'cms_x_tools:api:tool-list' %}"
               >
            <thead>
            <tr>
                <th data-field="name" data-escape="true" data-sortable="true" data-formatter="titileFormatter">{% trans "x_name" %}</th>
                <th data-field="category_names" data-escape="true">{% trans "x_type" %}</th>
                <th data-field="version" data-escape="true">{% trans "x_version" %}</th>
                <th data-field="size">{% trans "x_size" %}</th>
                <th data-field="platforms" data-formatter="table.platformFormatter">{% trans "x_support_platfor" %}</th>
                <th data-field="language" data-formatter="table.supportLangsFormatter">{% trans "x_support_language" %}</th>
                <th data-field="license_model" data-formatter="table.licenseModelFormatter" data-sortable="true">{% trans "x_authorized" %}</th>
                <th data-field="public" data-formatter="table.publicFormatter" data-sortable="true">{% trans "x_is_public" %}</th>
                <th data-field="creater_username" data-escape="true">{% trans 'x_creator' %}</th>
                <th data-field="update_time" data-formatter="table.datetimeFormatter" data-sortable="true">{% trans "x_update_time" %}</th>
                <th data-field="id" data-formatter="table.operatorFormatter">{% trans "x_operation" %}</th>
            </tr>
            </thead>
        </table>
    </div>
{% endblock %}

{% block bottom_js %}
    <script type="text/javascript">
        var $table = $('#table');
        pageWidgets.registerCheckTableRow($table);

        var table = bsTable.getTableModule($table, function(){
            this.operatorFormatter = function (value, row, index) {
                var btns = [
                    {
                        type: 'link',
                        class: 'btn-primary',
                        icon: 'fa-edit',
                        text: '{% trans 'x_edit' %}',
                        url: "{% url 'cms_x_tools:tool_detail' 0 %}".replace('0', value),
                        builtin: row.builtin
                    }
                ];
                return table.getOperatorHtml(btns);
            }
        });

        $table.stickyBootstrapTable({
            ajaxOptions: {
                traditional: true
            },
            queryParams: function (params) {
                params.search = $("#search").val();
                params.search_category = $("#search_category").val();
                params.search_platforms = $("#search_platforms").val();
                params.search_license_model = $("#search_license_model").val();
                return params;
            },
            pageSize: 10
        });
        function titileFormatter(value, row, index) {
            var nameString = "";
            if (value.length > 15) {
                nameString = value.substring(0, 15) + '...';
            } else {
                nameString = value;
            }
            return [
                '<span id="thread"  data-toggle="tooltip" title="' + value + '">' + nameString + '</span>',
            ].join('');
        }
    </script>
{% endblock %}
