{% extends 'event/cms/iframe_layout.html' %}
{% load i18n %}
{% load static %}
{% load static_v %}

{% block title %}

{% endblock %}
{% block other_css_js %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'event_exam/cms/css/list.css' %}">
    <script src="{% static_v 'practice_theory/cms/js/constants.js' %}"></script>

    <style>
           .outresult {
            height :30px;

            float :right;

           }
            .ibox-title{
               display:none;
            }

    </style>
{% endblock %}

{% block container %}
    <div class="modal-dialog modal-lg" style="width: 90%;">
        <div class="modal-content">
            <div class="modal-body" id="paper-result-body" style="overflow: auto;">
            </div>
        </div>
    </div>
{% endblock %}

{% block bottom_js %}
    {{ block.super }}
    {% verbatim %}
        <script id="paper-result" type="text/html">
    <div>
        {{ if !is_doing }}
        <h2 class="text-center" id="exam-name" style="position: relative;">
            <span>{{name}}<span>

            <span style="font-size: 14px;">({{text.all}} {{number}} {{text.question}} {{text.fullMark}}{{allScore}} PT)</span>
            <i class="red pull-right" style="font-size: 42px;position: absolute;right: 20px;">{{userAllScore}}</i>
        </h2>

        <h3 class="text-left" id="exam-name" style="position: relative;">
            <span>{{ text.account_number }}:{{ data.user.username }}</span><br>
            <span>{{ text.name_surname }}:{{ data.user.first_name }}</span><br>
            <span>{{ text.class }}:{{ data.user.classes }}</span>
        </h3>
        <div class="form-group">
            <form id="courseform" target="form-target">
                <ol style="padding: 20px; list-style: none;" id="exam_list">
                     {{if fillTasks.length > 0}}
                        <p style="font-size: 16px;margin-top: 20px;">{{text.fillQuestion}}</p>
                        {{each fillTasks as task i}}
                        <li>
                            <div style="border-radius: 4px;border: 1px solid #ccc; background-color: #f5f5f5;padding: 9.5px;margin-bottom: 10px;">
                                <p class="clearfix">{{i + 1}}.{{task.title}}({{text.thisQuestion}}{{task.score}} PT)<span class="pull-right glyphicon " style="font-size: 28px">{{if task.is_right}}√{{else}}×{{/if}}</span></p>
                                <span class="titlecontents" style="font-weight:bold;">{{ task.content }}</span>
                                <!--<div>{{task.content}}</div>-->

                                <div>{{text.standardAnswer}}:{{ if task.answer && task.answer.length > 0 }}{{ if task.answer =="A" }}√{{ else }}×{{ /if }}{{ else }}{{ text.dynamicFlag }}{{ /if }}</div>
                                <div>{{text.userAnswer}}:<span class="{{if task.score == 0}}red{{else}}green{{/if}}" >{{ if task.user_answer == "\"A\"" }}√{{ else if task.user_answer == "\"B\""}}×{{ else }}{{ /if }}</span></div>
                            </div>
                        </li>
                        {{/each}}
                    {{/if}}

                    {{if radioTasks.length > 0}}
                        <p style="font-size: 16px;">{{text.singleChoiceQuestion}}</p>
                        {{each radioTasks as task i}}
                        <li>
                            <div style="border-radius: 4px;border: 1px solid #ccc; background-color: #f5f5f5;padding: 9.5px;margin-bottom: 10px;">
                                <p class="clearfix">{{i + 1}}.{{task.title}}({{text.thisQuestion}}{{task.score}} PT)<span class="pull-right glyphicon}" style="font-size: 28px">{{if task.is_right}}√{{else}}×{{/if}}</span></p>
                                <ol style='list-style-type:none; padding-left: 5px;'>
                                    <span class="titlecontents" >{{#task.content}}</span>
                                    {{each task.options as option}}
                                    <li>
                                        <label><input disabled type='radio' value='' style='margin-right: 10px;' {{if task.user_answer.indexOf(option[0]) != -1}} checked='checked' {{/if}}>{{option[0]}}．{{option[1]}}</label>
                                    </li>
                                    {{/each}}
                                </ol>
                                <div>{{text.standardAnswer}}:{{task.answer}}</div>
                            </div>
                        </li>
                        {{/each}}
                    {{/if}}

                    {{if checkboxTasks.length > 0}}
                        <p style="font-size: 16px;margin-top: 20px;">{{text.multipleChoiceQuestion}}</p>
                        {{each checkboxTasks as task i}}
                        <li>
                            <div style="border-radius: 4px;border: 1px solid #ccc; background-color: #f5f5f5;padding: 9.5px;margin-bottom: 10px;">
                                <p class="clearfix">{{i + 1}}.{{task.title}}({{text.thisQuestion}}{{task.score}} PT)<span class="pull-right glyphicon" style="font-size: 28px">{{if task.is_right}}√{{else}}×{{/if}}</span></p>
                                <ol style='list-style-type:none; padding-left: 5px;'>
                                    <span class="titlecontents" style="font-weight:bold;" >{{ #task.content }}</span>
                                    {{each task.options as option}}
                                    <li>
                                        <label for=''><input disabled type='checkbox' value='' style='margin-right: 10px;'{{if task.user_answer.indexOf(option[0]) != -1}} checked='checked'{{/if}}>{{option[0]}}．{{option[1]}}</label>
                                    </li>
                                    {{/each}}
                                </ol>
                                <div>{{text.standardAnswer}}:{{task.answer}}</div>
                            </div>
                        </li>
                        {{/each}}
                    {{/if}}

                    {{if operatingTasks.length > 0 }}
                        <p style="font-size: 16px;margin-top: 20px;">{{text.operatingQuestions}}</p>
                        {{each operatingTasks as task i}}
                        <li>
                            <div style="border-radius: 4px;border: 1px solid #ccc; background-color: #f5f5f5;padding: 9.5px;margin-bottom: 10px;">
                                <p class="clearfix">{{i + 1}}.{{task.title}}({{text.thisQuestion}}{{task.score}}
                                    PT)<span class="pull-right glyphicon" style="font-size: 28px">{{if task.get_score == task.score}}√{{else}}×{{/if}}</span>
                                </p>
                                <span class="titlecontents" style="font-weight:bold;">{{ text.topicContent }}:{{ task.content }}</span>
                                {{if task.url}}
                                <div><a target="_blank" href="{{task.url}}">{{task.url}}</a></div>
                                {{/if}}
                                {{if task.file_url}}
                                <div><a href="{{task.file_url.url}}" target="_blank" download="{{ task.file_url.name }}">{{text.attachmentDownload}}</a></div>
                                {{/if}}
                                {{ if task.is_dynamic_env }}
                                <div>({{ text.dynamic_env }})</div>
                                {{ /if }}
                                <br>
                                <div>{{ text.userAnswer }}:{{ task.user_answer }}</div>
                                <div>{{text.standardAnswer}}:{{task.answer}}</div>
                            </div>
                        </li>
                    {{/each}}
                    {{/if}}

                    <p style="font-size: 14px; float: right;" disabled="inline" class="hide">{{ text.scoreAnswerText }}: {{ scoreAnswer }}</p>
                    <p style="font-size: 14px;" disabled="inline" class="hide">{{text.writeup}}</p>
                    <li class="hide">
                        <div style="border-radius: 4px;border: 1px solid #ccc; background-color: #f5f5f5;padding: 9.5px;margin-bottom: 10px;">
                            <div>{{text.writeup}} ({{text.score}}{{writeup_score}} pt)</div>
                            <p>{{#writeup}}</p>
                            <div class="clearfix">
                                <div class="pull-right">
                                    <input type="hidden" name="writeup_score" value="{{writeup_score}}">
                                    {% endverbatim %}
                                    <input type="text" name="point" placeholder="{% trans 'x_input_score' %}" style="border-radius: 4px; height: 34px;border: 1px solid #ddd;padding: 4px;">
                                    {% verbatim %}
                                    <span class="btn btn-success" id="givePointScore" onclick="CALLBACK.setScore(this)">{{text.givePoint}}</span>
                                </div>
                            </div>
                        </div>
                    </li>
                </ol>
            </form>
        </div>
        {{ else }}
        <div>{{ text.is_doing }}</div>
        {{/if}}
    </div>
</script>
    {% endverbatim %}
    <script>
    var listUrl = "{% url 'cms_event_exam:api:event-list' %}";
    var CALLBACK = {
            examModal: function (id) {
                CALLBACK.getExamDetail(listUrl + "{{ event.id }}" + "/exam_result_detail/", id);
                $('#exam-detail-Modal').modal('toggle');
            },
            getExamDetail: function (url, user_id) {
                checkUserId = user_id;
                http.get(url, {'user': user_id}, function (json) {
                    var data = json.response_data;
                    if (json.error_code == 0) {

                        $.each(data.tasks, function (i, task) {
                            if (task.is_choice_question) {
                                var taskOptions = $.parseJSON(data.tasks[i].option);
                                var options = []
                                $.each(taskOptions, function (key, value) {
                                    options.push([key, value]);
                                });
                                task.options = options;
                            }
                        });
                        radioTasks = data.tasks.filter(function (task) {
                            return task.is_choice_question && (task.multiple == ModelConstant.ChoiceTask.Type.SINGLE)
                        });
                        checkboxTasks = data.tasks.filter(function (task) {
                            return task.is_choice_question && (task.multiple == ModelConstant.ChoiceTask.Type.MULTPILE)
                        });
                        fillTasks = data.tasks.filter(function (task) {
                            return task.is_choice_question && (task.multiple == ModelConstant.ChoiceTask.Type.JUDGMENT)
                        });
                        operatingTasks = data.tasks.filter(function (task) {
                            task.user_answer = JSON.stringify(task.user_answer);
                            return !task.is_choice_question
                        });
                        no_writeup_score = data.no_writeup_score;
                        full_score = data.all_score;
                        is_doing = false
                        var writeup_score = data.writeup_score;
                        if (!writeup_score) {
                            writeup_score = 0
                        }
                        //答题得分
                        var scoreAnswer = data.user_all_score - writeup_score;
                        {#                        template.config("escape", false);#}
                        var html = template("paper-result", {
                            data:data,
                            name: data.name,
                            number: data.number,
                            allScore: data.all_score,
                            userAllScore: data.user_all_score,
                            scoreAnswer: scoreAnswer,
                            writeup: marked(data.writeup),
                            writeup_score: writeup_score,
                            radioTasks: radioTasks,
                            checkboxTasks: checkboxTasks,
                            fillTasks: fillTasks,
                            operatingTasks: operatingTasks,
                            text: {
                                all: gettext("x_all_have"),
                                question: gettext("x_task"),
                                fullMark: gettext("x_full_score"),
                                score: gettext("x_score"),
                                thisQuestion: gettext("x_this_task"),
                                attachmentDownload: gettext("x_download_annex"),
                                standardAnswer: "{% trans 'x_correct_answer' %}",
                                userAnswer: gettext("x_user_answer"),
                                writeup: gettext("x_exam_wp"),
                                singleChoiceQuestion: gettext("x_single_choice"),
                                multipleChoiceQuestion: gettext("x_multiple_choice"),
                                fillQuestion: gettext("x_judgment_problem"),
                                operatingQuestions: gettext("x_operation_problem"),
                                givePoint: gettext("x_exam_wp_score"),
                                dynamicFlag: gettext("x_dynamic"),
                                topicContent:gettext("题目内容"),
                                dynamic_env:gettext("在线场景无法加载"),
                                scoreAnswerText: gettext("x_score_answer"),
                                noticeText: gettext(''),
                                account_number: gettext('x_account_number'),
                                name_surname: gettext('x_name_surname'),
                                class:gettext('x_class')
                            }
                        });
                        $('#paper-result-body').html(html);
                        $(".titlecontents").css({"font-weight": "bold"});

                        $('input[name=point]').keydown(function (e) {
                            if (e.keyCode == 13) {
                                {#                                alert('1234');#}
                                $('#givePointScore').click();
                                e.preventDefault();


                            }
                        });
                    }
                    else {
                        var html = template("paper-result", {
                            is_doing: true,
                            text: {
                                is_doing: gettext("答题中......")
                            }
                        });
                        $('#paper-result-body').html(html);
                        $(".titlecontents").css({"font-weight": "bold"});
                    }
                })
            },
            setScore: function (obj, flag) {
                var point = $(obj).siblings("input[name=point]").val();
                if (isNaN(point)) {
                    return;
                }
                point = Number(point);
                {#                if (point + Number(no_writeup_score) < 0) {#}
                {#                    alert("得分不得小于0");#}
                {#                    return;#}
                {#                }#}
                if (point + Number(no_writeup_score) > Number(full_score)) {
                    alert("{% trans 'x_score_not_gt_all_score' %}");
                    return
                }

                http.post("{% url 'cms_x_note:api:note-set-score' %}", {
                    "score": point,
                    "user_id": checkUserId,
                    "hash": "{{ event.hash }}"
                }, function () {
                    CALLBACK.getExamDetail(listUrl + "{{ event.id }}" + "/exam_result_detail/", checkUserId);
                    $('#table').bootstrapTable('refresh');
                });
                $('#exam-detail-Modal').modal('toggle');


            },
        }

        CALLBACK.examModal({{ num }})
    </script>
{% endblock %}