{% extends 'cms/iframe_layout.html' %}
{% load i18n %}

{% block title %}
    <a href="{% url 'cms_event_exam:exam_list' %}">{% trans 'x_exam' %}</a>>
    <a href="{% url 'cms_event_exam:exam_detail' event_exam_id %}">{{ name }}</a>>
{#    <span> {{ name }}</span>>#}
    {% trans 'x_task_manage' %}
{% endblock %}
{% load staticfiles %}
{% block other_css_js %}
    {{ block.super }}
    <script src="{% static 'lib/hplus/js/jquery-ui-1.10.4.min.js' %}"></script>
    <style>
        ol {
            list-style-position: inside;
            counter-reset: sectioncounter;
        }

        ol li:before {
            content: counter(sectioncounter) "、";
            counter-increment: sectioncounter;
        }

        .sortable-list {
            padding: 10px 0 15px 0;
        }

        .border-all {
            border: 1px solid #d6d8d9 !important;
        }

        .message {
            border: none;
            padding: 10px 0 10px 20px;
        }

        .mrg10T {
            margin-top: 10px;
        }

        .pad5A {
            padding: 5px;
        }

        .score {
            width: 40px;
            line-height: 20px;
            height: 20px;
            font-size: 12px;
        }

        .questions {
            display: inline-block;
            width: 96%;
        }
        .no-padding-left{
            padding-left: 0!important;
        }
    </style>
{% endblock %}

{% block container %}
    <div class="ibox-content clearfix">
        <div style="width: 45%;float: left">
            <div id="tableToolbar">
                <div class="form-group">
                    <div class="col-md-2 no-padding-left">
                        <select class="form-control m-b" id="type_list">
                            <option value="0" selected="selected">{% trans "x_theory" %}</option>
                            <option value="1">{% trans "x_real_vuln" %}</option>
                            <option value="2">{% trans "x_exercise" %}</option>
                            {#                            <option value="3">{% trans "人机攻防" %}</option>#}
                        </select>
                    </div>
                    <div class="col-md-2 no-padding-left">
                        <select class="form-control m-b sticky select_search" id="category_list">
                            <option value="" selected="selected">{% trans "x_all_category" %}</option>
                        </select>
                    </div>
                    <div class="col-md-2 col-sm-2 no-padding-left">
                        <select class="form-control m-b sticky select_search" id="question_type_list">
                            <option value="" selected="selected">{% trans "x_question_type" %}</option>
                        </select>
                    </div>
                    <div class="col-md-2 col-sm-2 no-padding-left">
                        <select class="form-control m-b sticky select_search" id="public_statue">
                            <option value="" selected="selected">{% trans "x_topic_status" %}</option>
                            <option value="1">{% trans "x_public" %}</option>
                            <option value="0">{% trans "x_hide" %}</option>
                        </select>
                    </div>
                    <div class="col-md-2 col-sm-2 no-padding-left">
                        <input class="form-control m-b" id="title_list" placeholder="{% trans 'x_task_name' %}"
                               type="text"/>
                    </div>
                    <div class="col-md-2 col-sm-2 no-padding-left">
                        <a class="btn btn-primary" id="table_refresh" onclick="table.refresh();">
                            <i class="fa fa-search"></i>{% trans 'x_search' %}
                        </a>
                    </div>
                </div>
            </div>

            <table id="table"
                   data-toggle="table"
                   data-toolbar="#tableToolbar"
                   data-toolbar-align="center"
                   data-show-refresh="false"
                   data-search="false"
                   data-pagination="true"
                   data-checkbox="true"
                   data-click-to-select="true"
                   data-side-pagination="server"
                   data-url="{% url 'cms_practice_theory:cms_api:choice-task-list' %}"
            >
                <thead>
                <tr>
                    <th class="bs-checkbox" data-checkbox="true" data-formatter="operatorFormatter"></th>
                    <th data-field="title_dsc" data-formatter="titleFormatter">{% trans "x_name" %}</th>
                    <th data-field="category_name" data-escape="true">{% trans "x_question_direction" %}</th>
                    <th data-field="question_type" data-escape="true">{% trans "x_question_type" %}</th>
                    <th data-field="public" data-formatter="table.publicFormatter">{% trans "x_topic_status" %}</th>
                    {#                    <th data-field="event_name" data-escape="true">{% trans "x_owned_question" %}</th>#}
                    {#                    <th data-field="score">{% trans "x_score" %}</th>#}
                    {#                    <th data-field="is_dynamic_env" data-formatter="table.boolFormatter">{% trans "x_dynamic_scenes" %}</th>#}
                </tr>
                </thead>
            </table>
        </div>
        <div style="width: 45%;float: left;margin-left: 10px">
            <div id="app_paper"> {% comment %}vue主体{% endcomment %}
                <div class="mail-content" id="mail-content">

                    <div class="message" style="min-height: 500px">
                        <div class="content" id="examcontent" tabindex="5002"
                             style="overflow: hidden; outline: none;">
                            <div class="form-group">
                                <form id="examform" target="form-target">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-12 col-lg-12">
                                            <input type="text" class="form-control border-all text-center" id="examname"
                                                   name="examname"
                                                   placeholder="{% trans 'x_enter_name_testpaper' %}"
                                                   value="{{ name }}"/>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-12 col-md-12 col-lg-12 mrg10T">
                                            <textarea class="col-sm-12 col-md-12 col-lg-12 border-all"
                                                      style="padding-top: 5px;"
                                                      placeholder="{% trans 'x_exam_description' %}"
                                                      id="examDescription"
                                                      name="examDescription">{{ description }}</textarea>
                                        </div>
                                    </div>
                                </form>


                                <div class="mrg10T">
                                    <div class="border-all pad5A"><b>{% trans "x_first" %}{% trans 'x_single_choice' %}</b>
                                        ({% trans 'x_alls' %} [[ single_questions.length ]] {% trans 'x_question_all' %}
                                        [[getAllScore(single_questions)]]{% trans 'x_fraction_score' %})
                                    </div>
                                    <ol class="sortable-list agile-list" id="single">
                                        <li class="border-all"
                                            v-for="single_question, index in single_questions" :key="index"
                                            :data-index="index">
                                            <div class="questions clearfix">
                                                {#                                                    <span>[[ index +1 ]].</span>#}
                                                <span style="display: inline-block;vertical-align: text-top;"
                                                      v-html="marked(single_question.content)"></span>
                                                <span class="pull-right">{% trans 'x_this_task' %}
                                                        <input class="score" maxlength=4
                                                               style="ime-mode:disabled;"
                                                               onkeyup="value=value.replace('/^0/g','')"
                                                               v-model="single_question.score">PT</span>
                                            </div>
                                            <div v-for="value, key, index in single_question.options_dsc">
                                                <span style="display: inline-block;">[[ key ]]. </span><span
                                                    style="display: inline-block;"
                                                    v-html="marked(value)"></span>
                                            </div>
                                            <div class="text-right"><span class="glyphicon glyphicon-trash"
                                                                          @click="remove_question(index, 'single')"></span>
                                            </div>
                                        </li>
                                    </ol>
                                </div>
                                <div class="mrg10T">
                                    <div class="border-all pad5A"><b>{% trans 'x_two' %}{% trans 'x_multiple_choice' %}</b>
                                        ({% trans 'x_alls' %} [[ multiple_questions.length ]] {% trans 'x_question_all' %}
                                        [[getAllScore(multiple_questions)]]{% trans 'x_fraction_score' %})
                                    </div>
                                    <ol class="sortable-list  agile-list" id="multiple">
                                        <li class="border-all" v-for="multiple_question, index in multiple_questions" :data-index="index">
                                            <div class="questions clearfix">
                                                {#                                                    <span>[[ index +1 ]].</span>#}
                                                <span style="display: inline-block;vertical-align: text-top;"
                                                      v-html="marked(multiple_question.content)"></span>
                                                <span class="pull-right">{% trans 'x_this_task' %}
                                                        <input class="score" maxlength=4
                                                               style="ime-mode:disabled;"
                                                               onkeyup="value=value.replace('/^0/g','')"
                                                               v-model="multiple_question.score">PT</span>
                                            </div>
                                            <div v-for="value, key, index in multiple_question.options_dsc">
                                                <span style="display: inline-block;">[[ key ]]. </span><span style="display: inline-block;" v-html="marked(value)"></span>
                                            </div>
                                            <div class="text-right"><span class="glyphicon glyphicon-trash" @click="remove_question(index, 'multiple')"></span>
                                            </div>
                                        </li>
                                    </ol>
                                </div>
                                <div class="mrg10T">
                                    <div class="border-all pad5A"><b>{% trans 'x_three' %}{% trans 'x_analysis_questions' %}</b>
                                        ({% trans 'x_alls' %} [[ analysis_questions.length ]]
                                        {% trans 'x_question_all' %}
                                        [[getAllScore(analysis_questions)]]{% trans 'x_fraction_score' %})
                                    </div>
                                    <ol class="sortable-list  agile-list" id="analysis">
                                        <li class="border-all" v-for="analysis_question, index in analysis_questions" :data-index="index">
                                            <div class="clearfix questions">
                                                {#                                                    <span>[[ index +1 ]].</span>#}
                                                <span style="display: inline-block;vertical-align: text-top;">[[ analysis_question.title ]]</span>
                                                <span class="pull-right">{% trans 'x_this_task' %}
                                                        <input class="score" maxlength=4
                                                               style="ime-mode:disabled;"
                                                               onkeyup="value=value.replace('/^0/g','')"
                                                               v-model="analysis_question.score">PT</span>
                                            </div>
                                            <div v-html="marked(analysis_question.content)"></div>
                                            <div class="text-right mrg10T"><span class="glyphicon glyphicon-trash" @click="remove_question(index, 'analysis')"></span>
                                            </div>
                                        </li>
                                    </ol>
                                </div>


                                <div align="center">
                                    <button id="submitbtn" type="button" v-on:click="submit_paper()" class="btn btn-primary btn-greensea">{% trans "x_save" %}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block bottom_js %}
    <script type='text/javascript'>
        var category_url = "{% url 'cms_practice:practice_categories' 0 %}";
        var event_url = "{% url 'cms_practice:api_event_list' %}";
        var theory_task_url = "{% url 'cms_practice_theory:cms_api:choice-task-list' %}";
        var real_vuln_task_url = "{% url 'cms_practice_real_vuln:cms_api:real-vuln-task-list' %}";
        var exercise_task_url = "{% url 'cms_practice_exercise:cms_api:practice-exercise-task-list' %}";
        var mam_machine_task_url = "{% url 'cms_practice_man_machine:cms_api:man-machine-task-list' %}";
        var handler_exam_url = '{% url "cms_event_exam:handler_task_list" event_exam_id %}';
        var exam_list_url = "{% url 'cms_event_exam:exam_detail' event_exam_id %}";
        var returnUrl = urlparser.getQueryString("return");
        returnUrl = returnUrl ? returnUrl : exam_list_url;

        var questionIdArray = new Array();
        $.ajax({
            url: handler_exam_url,
            datatype: "json",
            method: "GET",
            async: false,
            success: function (res) {
                for (var i = 0; i < res.length; i++) {
                    questionIdArray.push((res[i].hasOwnProperty('multiple') ? res[i].content : res[i].title));
                }
            }
        });


        function operatorFormatter(value, row, index) {

            var target = (row.hasOwnProperty('multiple') ? row.content : row.title);
            if (questionIdArray.includes(target)) {
                return {
                    checked: true
                }
            };


            return '<input id="task' + index + '" name="checkTask" taskid=' + row.hash
                + ' type="checkbox" value="0" hidden>';
        }

        function titleFormatter(value, row, index) {
            {% comment %}var hash = row.hash;
            if (hash.endsWith("0") && !value) {

                var content = row.content.replace(/<[^>]+>/g, "")
                return content.substring(0, 15) + "...";
            }
            return value ? value : '无题';{% endcomment %}
            var nameString = "";
            if (value.length > 20) {
                nameString = value.substring(0, 20) + '...';
            } else {
                nameString = value;
            }
            return [
                '<span id="thread"  data-toggle="tooltip" title="' + value.replace('\n', '').replace(/\\/g, '') + '">' + nameString + '</span>',
            ].join('');
        };

        var table = bsTableClass($('#table'));
        $("#table").bootstrapTable({
            ajaxOptions: {
                traditional: true
            },
            queryParams: function (params) {//设置查询参数
                params.is_copy = 0;
                params.category = $("#category_list").val();
                params.question_type_list = $("#question_type_list").val();
                params.public_statue = $("#public_statue").val();
                params.search = $("#title_list").val();
                return params;
            },
            onLoadSuccess: function (data) {
                // 隐藏头部复选框
                $("input[name='btSelectAll']:checkbox").hide();
            }

        });

        $("#title_list").keydown(function (e) {
            if (e.keyCode == 13) {
                table.refresh();
            }
        });

        {% comment %}$("#examname").bind("input propertychange change", function (event) {
            // 实时监控
        });{% endcomment %}

        $(function () {
            // 获取url参数， 修改handler_exam_url
            var copyCap = CALLBACK.GetRequest();
            if (copyCap['copyCap'] != undefined) {
                handler_exam_url = handler_exam_url + "?copyCap=" + copyCap['copyCap']
            }


            // 初始化表格数据
            CALLBACK.init_model_select(category_url, event_url, 0);
            CALLBACK.init_exam_data();

            $("#type_list").change(function () {
                var type_id = Number($(this).val());
                CALLBACK.init_model_select(category_url, event_url, type_id);

                if (type_id == 0) {
                    CALLBACK.init_model_table(theory_task_url);
                } else if (type_id == 1) {
                    CALLBACK.init_model_table(real_vuln_task_url);
                } else if (type_id == 2) {
                    CALLBACK.init_model_table(exercise_task_url);
                }
            });
            $("#examform").mvalidate(validateDic);
            $(document).ready(function () {
                $(".sortable-list").sortable(sortableDic).disableSelection()
            });
        });

        // 添加选中题目
        $('#table').on('check.bs.table', function (e, row, element) {
            CALLBACK.addExamData(row, app.single_questions, app.multiple_questions, app.analysis_questions, 'true')
            questionIdArray.push((row.hasOwnProperty('multiple') ? row.content : row.title));
        });
        // 取消选中题目
        $('#table').on('uncheck.bs.table', function (e, row, element) {
            var questionsType = row.hash.indexOf(".0");
            if (questionsType > 0) {
                var is_multiple_choice = row.multiple;
                if (is_multiple_choice) {
                    CALLBACK.deleteAppQuestion(app.multiple_questions, row)
                } else {
                    CALLBACK.deleteAppQuestion(app.single_questions, row)
                }
            } else {
                CALLBACK.deleteAppQuestion(app.analysis_questions, row)
            }

            var target = (row.hasOwnProperty('multiple') ? row.content : row.title);
            questionIdArray.slice(questionIdArray.indexOf(target), 1);
        });

        var app = new Vue({
            el: '#app_paper',
            delimiters: ['[[', ']]'],
            data: {
                single_questions: [],
                multiple_questions: [],
                analysis_questions: []
            },
            methods: {
                getAllScore: function (data) {
                    var score = 0;
                    for (var i = 0; i < data.length; i++) {
                        data[i].score = parseInt(data[i].score.toString().replace(/\D|^0/g, ''));
                        if (isNaN(data[i].score) || data[i].score == '') {
                            data[i].score = 0
                        }
                        score += Number(data[i].score)
                    }
                    return score
                },
                submit_paper: function () {
                    CALLBACK.submitPaper()
                },
                remove_question: function (evt, type) {
                    if (type == 'single') {

                        questionIdArray.splice(questionIdArray.indexOf(app.single_questions[evt].content), 1);
                        deleteChecked(app.single_questions[evt].content);

                        app.single_questions.splice(evt, 1)
                    } else if (type == 'multiple') {

                        questionIdArray.splice(questionIdArray.indexOf(app.multiple_questions[evt].content), 1);
                        deleteChecked(app.multiple_questions[evt].content);

                        app.multiple_questions.splice(evt, 1)
                    } else if (type == 'analysis') {

                        questionIdArray.splice(questionIdArray.indexOf(app.analysis_questions[evt].title), 1);
                        deleteChecked(app.analysis_questions[evt].title);

                        app.analysis_questions.splice(evt, 1)
                    }
                }
            },
            filters: {
                getMarked: function (value) {
                    return marked(value)
                },
                default_if_none: function (value) {
                    if (value == '0') {
                        value = 0;
                    }
                    return value
                }
            },
            {% comment %}mounted: function () {
                this.$nextTick(function () {
                    // 代码保证 this.$el 在 document 中
                    console.log('asdf')
                })
            }{% endcomment %}
        });

        app.$watch('single_questions', function () {
            // 监控数据变化，重新注册使用jquery ui
            $(document).ready(function () {
                $(".sortable-list").sortable(sortableDic).disableSelection()
            });
        });

        var CALLBACK = {
            init_model_select: function (category_url, event_url, type_id) {
                // 更新selectToorbar的数据
                $("#category_list").empty();
                $("#question_type_list").empty();
                {#$("#public_statue").empty();#}
                {#$("#title_list").empty();#}

                $("#question_type_list").append("<option value='' selected='selected'>{% trans "x_question_type" %}</option>");
                if (type_id != '0') {
                    $("#question_type_list").append("<option value='" + 0 + "'>" + '{% trans "x_analysis_questions" %}' + "</option>");
                } else {
                    $("#question_type_list").append("<option value='" + 0 + "'>" + '{% trans "x_single_choice" %}' + "</option>");
                    $("#question_type_list").append("<option value='" + 1 + "'>" + '{% trans "x_multiple_choice" %}' + "</option>");
                }

                $.ajax({
                    url: category_url.replace("0", type_id),
                    type: "get",
                    datatype: "json",
                    data: {"type_id": type_id},
                    success: function (data) {
                        {#                    console.info(data.data);#}
                        var categorys = data.data;
                        $("#category_list").append("<option value='' selected='selected'>{% trans "x_question_direction" %}</option>");
                        for (var i in categorys) {
                            {% if LANGUAGE_CODE == 'zh-hans' %}
                                $("#category_list").append("<option value='" + categorys[i].id + "'>" + codeUtil.htmlEncode(categorys[i].cn_name) + "</option>");
                            {% else %}
                                $("#category_list").append("<option value='" + categorys[i].id + "'>" + codeUtil.htmlEncode(categorys[i].en_name) + "</option>");
                            {% endif %}
                        }
                    }
                });
            },
            init_model_table: function (url) {
                // 刷新表数据
                $("#table").bootstrapTable('refresh', {url: url + "?solving_mode=2"});
            },
            init_exam_data: function () {
                $.ajax({
                    type: "GET",
                    url: handler_exam_url,
                    dataType: "json",
                    success: function (data) {
                        console.log(data);
                        // 填充数据
                        for (var i = 0; i < data.length; i++) {
                            CALLBACK.addExamData(data[i], app.single_questions, app.multiple_questions, app.analysis_questions, 'false')
                        }
                    }
                })
            },
            deleteAppQuestion: function (appData, row) {
                // 删除vue中的数据app.$data
                for (var i = 0; i < appData.length; i++) {
                    if (appData[i].hasOwnProperty('multiple')) {
                        if (appData[i].content == row.content) {
                            appData.splice(i, 1)
                        }
                    } else {
                        if (appData[i].title == row.title) {
                            appData.splice(i, 1)
                        }
                    }
                }
            },
            submitPaper: function () {
                var singleData = CALLBACK.getChangeData(app.single_questions, 'single');
                var multipleData = CALLBACK.getChangeData(app.multiple_questions, 'multiple');
                var analysisData = CALLBACK.getChangeData(app.analysis_questions, 'analysis');
                var data = singleData.concat(multipleData).concat(analysisData);
                var examname = $('#examname').val();
                var examDescription = $("#examDescription").val();
                {#console.log(data);#}
                var jsondata = {
                    'examname': examname,
                    'examDescription': examDescription,
                    'data': JSON.stringify(data),
                };

                $.ajax({
                    type: "POST",
                    url: handler_exam_url,
                    data: jsondata,
                    traditional: true,
                    {#contentType: "application/json;charset=utf-8",#}
                    dataType: "json",
                    success: function (message) {
                        swal({
                            title: "{% trans 'x_saved_successfully' %}",
                            type: 'success',
                            confirmButtonText: "{% trans 'x_confirm' %}"
                        }, function () {
                            setTimeout(function () {
                                window.location.href = returnUrl;
                            });
                        });

                    },
                    error: function (data) {
                        if (data.responseJSON == undefined) {
                            var text = "{% trans 'x_saved_fail' %}"
                        } else {
                            var text = data.responseJSON["detail"]['message']
                        }
                        swal({
                            title: text,
                            type: "error",
                            confirmButtonText: "{% trans "x_confirm" %}"
                        });
                    }
                });
            },
            getChangeData: function (appDate, typeId) {
                // 提交前获取每个模块的数据
                var changeLi = $('#' + typeId + '>li');
                var listLi = [];
                var changData = [];
                for (var i = 0; i < changeLi.length; i++) {
                    listLi.push(changeLi[i].attributes['data-index'].value)
                }
                for (var x = 0; x < listLi.length; x++) {
                    var tempeDate = appDate[listLi[x]];
                    changData.push(tempeDate)
                }
                return changData
            },
            addExamData: function (row, singleData, multipleData, analysisData, BoolType) {
                var questionsType = row.hash.indexOf(".0");
                if (BoolType === 'true') {
                    row.score = 10;
                }
                if (questionsType > 0) {
                    var is_multiple_choice = row.multiple;
                    if (is_multiple_choice) {
                        multipleData.push(row)
                    } else {
                        singleData.push(row)
                    }
                } else {
                    // 技能分析题
                    analysisData.push(row)
                }
            },
            GetRequest: function () {
                var url = location.search; //获取url中"?"符后的字串
                var reg = new RegExp('^[1-9]$|^[1-9][0-9]+$');
                var theRequest = new Object();
                if (url.indexOf("?") != -1) {
                    var str = url.substr(1);
                    var strs = str.split("&");
                    for (var i = 0; i < strs.length; i++) {
                        if (reg.test(unescape(strs[i].split("=")[1]))) {
                            theRequest[strs[i].split("=")[0]] = unescape(strs[i].split("=")[1]);
                        }
                    }
                }
                return theRequest;
            }
        };

        var validateDic = {
            rules: {
                examname: {
                    required: true,
                    maxlength: 50
                }
            },
            messages: {
                examname: {
                    required: "{% trans 'x_exam_name_required' %}",
                    maxlength: "{% trans 'x_length_not_greater_30' %}"
                }
            }
        };

        var sortableDic = {
            delay: 150, // 时间延迟
            distance: 15, // 距离延迟
            cursor: "move", // 鼠标展示类型
            items: "> li", // 下面哪种元素要排序用
            revert: true, // 降落的时候会添加过渡效果
            update: function (event, ui) {
                {#a[1].attributes['data-index'].value#}
                var changeLi = $('#single>li');
                var listLi = [];
                var changData = [];
                for (var i = 0; i < changeLi.length; i++) {
                    listLi.push(changeLi[i].attributes['data-index'].value)
                }
                for (var x = 0; x < listLi.length; x++) {
                    var tempeDate = app.single_questions[listLi[x]];
                    changData.push(tempeDate)
                }
                console.log(changData)
            }
            {% comment %}change: function (event, ui) { // 改变的时候调用
                console.log('asdfas')
            },
            deactivate: function (event, ui) { // 停止的时候调用
              console.log(event);
              console.log(ui)
            }{% endcomment %}
        }

        function deleteChecked(key) {
            // 删除题目的同时取消勾选
            quesContent = key.replace('\n', '').replace(/\\/g, '');
            selector = '\[title="' + quesContent + '"\]';
            if ($(selector).parent().prev().children()) {
                $(selector).parent().prev().children().first().removeAttr('checked');
                $(selector).parent().parent().first().removeClass();
            }
        };

    </script>
{% endblock %}
