{% load staticfiles %}
{% load static_v %}
{% load i18n %}

<!DOCTYPE html>
<head>
    {% get_current_language as LANGUAGE_CODE %}
    <meta charset="UTF-8"/>
    <title>{% trans 'x_retrieve_password'|capfirst %}</title>
    <link rel="stylesheet" type="text/css" href="{% static_v 'web/css/default.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static_v 'web/css/login.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static_v 'web/bootstrap-3.3.7/css/bootstrap.min.css' %}">
    <link rel="stylesheet" media="screen" href="{% static_v 'web/css/styleLogin.css' %}">
    <script src="{% static_v 'web/js/jquery-3.2.1.min.js' %} "></script>
</head>
<style type="text/css">
    html, body {
        height: 100%;
    }

    body {
        margin: 0;
    {#        background: url(../../static/img/bg.jpg);#} background-size: 100% 100%;
    }

    h1 {
        margin: 0;
        position: absolute;
        left: 50px;
        top: 20px;
    }

    h4 {
        margin: 0;
        position: absolute;
        right: 50px;
        bottom: 30px;
    }
</style>
<body>
<div class="count-particles hidden">
    <span class="js-count-particles">--</span>
</div>
<!-- particles.js container -->
<div id="particles-js"></div>
<h1 class='fl'>
{#    <img id="platform_logo" class="hidden left-top-logo"#}
{#         src="{% static_v 'web/img/xlogo_'|add:LANGUAGE_CODE|add:'.png' %}" alt="">#}
    <img id="platform_logo" alt="Brand" class="left-top-logo"
         {% if request.platform_logo %}
         src="/media/system_logo/{{ request.platform_logo }}"
         {% else %}
         src="{% static_v 'web/img/xlogo_'|add:LANGUAGE_CODE|add:'.png' %}"
         {% endif %}
    >
</h1>
<div class="logoin-warpper">
    <div class="centerDiv">
        <div class="oj_banner posRelative mrg50R">
            <img src="{% static_v 'web/img/login0.png' %}" alt="" class='width100' id='snOj_img'>
        </div>
        <div class="login-box">
            <form method="post" action="{% url 'common_web:forget_password' %}">
                {% csrf_token %}
                <div class='logoMain'>
                    <div class='font26 whiteC text-center mrg40B'>
                        {% trans 'x_retrieve_password'|capfirst %}
                    </div>
                    <div class='mrg50B'>
                        <div class="write mrg30T">
                            <div class="">
                            <span class="person pad25L pad15R inLine human"
                                  style="vertical-align: top"></span>
                                <input class="font16 pad15R" id="username" name="username"
                                       value="{{ form.cleaned_data.username }}" type="text"
                                       placeholder="{% trans 'x_user_name' %}">
                            </div>
                        </div>
                    </div>
                    {% if email_send %}
                        <p class="text-center"
                           style="font-size: medium; color: red"> {% trans 'x_email_been_sent' %}</p>
                    {% elif email_check %}
                        <p class="text-center"
                           style="font-size: medium; color: red"> {% trans 'x_email_not_active' %}</p>
                    {% elif user_exists %}
                        <p class="text-center"
                           style="font-size: medium; color: red"> {% trans 'x_user_non_existent' %}</p>
                    {% endif %}
                    <input type="submit" value="{% trans 'x_retrieve_password' %}"
                           class='clickLogin pad10T pad10B text-center whiteC font18 mrg50B posRelative'>
                </div>
                <input type="hidden" name="next" value="{{ next }}"/>
            </form>
            <div class="browser mrg5T" style="visibility: hidden">为了您更好的体验，请使用最新版Chrome浏览器，建议分辨率：1920*1080</div>
        </div>
    </div>
</div>


<form id="languageForm" action="{% url 'set_language' %}" method="post">{% csrf_token %}
    <input name="language" id="language" style="display: none"/>
    <div class='language whiteC'>
        <a onclick="showLanguage('zh-hans')" class='whiteC'>中文</a>
        <span class='line inLine'></span>
        <a onclick="showLanguage('en')" class='whiteC'>English</a>
    </div>
</form>

<span id="copyright" class='font12 sn_oj'>{{ request.copyright }}</span>


</body>
<script>
    $(document).ready(function () {
        var n = 0;
        var srcs = new Array()
        srcs.push("{% static_v 'web/img/login0.png' %}")
        srcs.push("{% static_v 'web/img/login1.png' %}")
        srcs.push("{% static_v 'web/img/login2.png' %}")
        setInterval(function () {
            n++;
            n %= 3;
            document.getElementById('snOj_img').src = srcs[n]
        }, 1000)
    })
</script>
<script src="{% static_v 'web/js/particles.min.js' %}"></script>
<script src="{% static_v 'web/js/app.js' %}"></script>
<script src="{% static_v 'web/js/stats.js' %}"></script>
<script>
    var system_url = "{% url 'system_configuration:api:system-configuration-list' %}"
</script>
<script>
    var count_particles, stats, update;
    stats = new Stats;
    stats.setMode(0);
    stats.domElement.style.position = 'absolute';
    stats.domElement.style.left = '0px';
    stats.domElement.style.top = '0px';
    document.body.appendChild(stats.domElement);
    count_particles = document.querySelector('.js-count-particles');
    update = function () {
        stats.begin();
        stats.end();
        if (window.pJSDom[0].pJS.particles && window.pJSDom[0].pJS.particles.array) {
            count_particles.innerText = window.pJSDom[0].pJS.particles.array.length;
        }
        requestAnimationFrame(update);
    };
    requestAnimationFrame(update);

    function showLanguage(language) {
        $('#language').val(language);
        $('#languageForm').submit();

                // set guacamole language
        var languageGpMapping = {
            'zh-hans': 'zh',
            'en': 'en',
        }
        var gp = JSON.parse(localStorage.getItem('GUAC_PREFERENCES') || '{"emulateAbsoluteMouse":true,"inputMethod":"none","language":"zh"}');
        gp.language = languageGpMapping[language];
        localStorage.setItem('GUAC_PREFERENCES', JSON.stringify(gp));
    }

{#    $(function () {#}
{#        $.ajax({#}
{#            url: system_url,#}
{#            type: "GET",#}
{#            dataType: "json",#}
{#            async: false,#}
{#            success: function (data) {#}
{#                if (data.rows.length > 0) {#}
{#                    $.each(data.rows, function (index, value, array) {#}
{#                        if (value.key == "copyright") {#}
{#                            $("#copyright").html(value.esc_value);#}
{#                        }#}
{#                        if (value.key == "logo") {#}
{#                            var logo_url = '/media/system_logo/' + value.value;#}
{#                            $("#platform_logo").attr('src', logo_url);#}
{#                        }#}
{#                    });#}
{#                }#}
{#                $("#platform_logo").removeClass('hidden')#}
{#            }#}
{#        });#}
{#    })#}

</script>
</html>