<div class="row mrg0A">
    <div class='col-md-12 pad0A' style='height:400px;margin:0 auto'>
        <form>
            <input name="title" type="text" placeholder="Title?" class='form-control default-bg whiteC mrg20B'/>
            <textarea name="content" data-provide="markdown" rows="10" class='default-bg pad10A mark' placeholder="输入文本……" id='mark'></textarea >
            <button type="submit" class="btn-common mrg20T pull-right"><div class="left-right-line">{% trans 'x_save' %}</div></button>
        </form>
    </div>
</div>