{% extends 'cms/iframe_layout.html' %}
{% load i18n %}

{% block title %}
    <a href="{% url 'cms_practice_man_machine:task_list' %}">{% trans "x_man_machine" %}</a> >
    {% trans 'x_type' %}
{% endblock %}

{% block container %}
    <div class="ibox-content">
        <div id="tableToolbar">
            <div class="form-group">
                <div class="clearfix">
                    <div class="col-md-3 col-sm-3">
                        <input class="form-control m-b" id="search" placeholder={% trans "x_name" %}
                                type="text"/>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <a class="btn btn-primary" onclick="table.refresh();">
                            <i class="fa fa-search"></i>{% trans 'x_search' %}
                        </a>
                    </div>
                </div>
                <div class="clearfix">
                    <div class="col-md-6 col-sm-6">
                        <a class="btn btn-primary" href="{% url 'cms_practice_man_machine:category_create' %}">
                            <i class="fa fa-plus"></i>{% trans 'x_add' %}
                        </a>
                        <button class="btn btn-danger"
                                data-url="{% url 'cms_practice_man_machine:cms_api:man-machine-category-batch-destroy' %}"
                                onclick="table.batchDestroy(this);">
                            <i class="fa fa-remove"></i> {% trans 'x_delete' %}
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <table id="table"
               data-toggle="table"
               data-toolbar="#tableToolbar"
               data-toolbar-align="center"
               data-show-refresh="false"
               data-search="false"
               data-pagination="true"
               data-side-pagination="server"
               data-url="{% url 'cms_practice_man_machine:cms_api:man-machine-category-list' %}">
            <thead>
            <tr>
                <th data-field="cn_name" data-escape="true">{% trans "x_zh_name" %}</th>
                <th data-field="en_name" data-escape="true">{% trans "x_en_name" %}</th>
                <th data-field="id" data-formatter="operatorFormatter">{% trans "x_operation" %}</th>
            </tr>
            </thead>
        </table>
    </div>
{% endblock %}

{% block bottom_js %}
    <script type="text/javascript">
        pageWidgets.registerCheckTableRow($("#table"));
        var table = bsTableClass($('#table'));
        $('#table').bootstrapTable({
            ajaxOptions: {
                traditional: true,
            },
            queryParams: function (params) {
                params.search = $("#search").val();
                return params;
            }
        });


        function operatorFormatter(value, row, index) {
            var update_category = "{% url 'cms_practice_man_machine:category_detail' -1 %}".replace('-1', value);
            return [
                '<div>',
                '<a class="btn btn-primary" style="margin-left: 5px; margin-right: 5px;" href="' + update_category + '">',
                '<i class="fa fa-edit"></i> {% trans "x_edit" %}',
                '</a>',
                '</div>'
            ].join('');
        }
    </script>
{% endblock %}
