{% extends 'cms/iframe_layout.html' %}
{% load i18n %}
{% load static %}
{% load static_v %}


{% block title %}
    <a href="{% url 'cms_practice_man_machine:task_list' %}">{% trans "x_man_machine" %}</a> >
    {% if mode == 0 %}
        {% trans 'x_add_task' %}
    {% else %}
        {% trans 'x_edit_task' %}
    {% endif %}
{% endblock %}

{% block other_css_js %}
    <link rel="stylesheet" href="{% static "lib/hplus/css/plugins/switchery/switchery.css" %}"/>

    <script src="{% static "lib/hplus/js/plugins/switchery/switchery.js" %}"></script>
    <script src="{% static "lib/hplus/js/plugins/prettyfile/bootstrap-prettyfile.js" %}"></script>

    <script type="text/javascript" src="{% static_v 'common_env/widgets/select_env/js/select_env.js' %}"></script>

    <style>
        .progress {
            position: relative;
            padding: 1px;
            border-radius: 3px;
            margin-left: 15px;
        }

        #progress-toggle {
            display: none;
        }

        .bar {
            background-color: #B4F5B4;
            width: 0%;
            height: 20px;
            border-radius: 3px;
        }

        .percent {
            position: absolute;
            display: inline-block;
            top: 3px;
            left: 48%;
        }
    </style>
{% endblock %}

{% block container %}
    <div class="ibox float-e-margins">
        <form id="validateForm"
                {% if mode == 0 %}
              action="{% url 'cms_practice_man_machine:cms_api:man-machine-task-list' %}"
              method="post"
                {% else %}
              action="{% url 'cms_practice_man_machine:cms_api:man-machine-task-detail' task.id %}"
              method="patch"
                {% endif %}
              class="form-horizontal">
            {% csrf_token %}
            <div class="ibox-content">
                <div class="form-group">
                    <label class="col-sm-2 control-label">{% trans 'x_title' %}</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="title" name="title"
                               value="{{ task.title }}"/>
                    </div>
                    <div style="padding-top:1px;font-size:25px">
                        <span class="text-danger" >*</span>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">{% trans 'x_score' %}</label>

                    <div class="col-sm-6">
                        <input type="number" class="form-control" id="score" name="score" min="0" max="2000"
                                {% if task.score != None %} value="{{ task.score }}" {% endif %}>
                        <div id="checkScore"></div>
                    </div>
                    <div style="padding-top:1px;font-size:25px">
                        <span class="text-danger">*</span>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">{% trans 'x_task_event' %}</label>

                    <div class="col-sm-6">
                        <select class="form-control selectpicker" id="event_name" name="event" data-form-fixed="1"
                                style="width: 220px;">
                            {% for event in event_list %}
                                <option {% if event.id == task.event %}selected{% endif %}
                                        value="{{ event.id }}">{{ event.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">{% trans 'x_category' %}</label>

                    <div class="col-sm-6">
                        <select class="form-control selectpicker" id="category" name="category" data-form-fixed="1"
                                style="width: 220px;">
                            {% for category in category_list %}
                                <option {% if category.id == task.category %}selected{% endif %}
                                        value="{{ category.id }}">{{ category.cn_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">{% trans 'x_difficulty' %}</label>

                    <div class="col-sm-6">
                        <select class="form-control selectpicker" id="difficulty_rating" name="difficulty_rating"
                                data-form-fixed="1" style="width: 220px;">
                            <option value="0"
                                    　{% if task.difficulty_rating == 0 %}selected{% endif %}>{% trans 'x_easy' %}</option>
                            <option value="1"
                                    {% if task.difficulty_rating == 1 %}selected{% endif %}>{% trans 'x_normal' %}</option>
                            <option value="2"
                                    {% if task.difficulty_rating == 2 %}selected{% endif %}>{% trans 'x_hard' %}</option>
                        </select>
                    </div>
                </div>

                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">{% trans 'x_content' %}</label>

                    <div class="col-sm-6">
                            <textarea class="form-control" id="content" name="content">{% if task.content %}
                                {{ task.content }}{% endif %}</textarea>
                    </div>
                </div>

                <div class="hr-line-dashed"></div>
                <div class="form-group" id="taskFile">
                    <label class="col-sm-2 control-label">{% trans 'x_annex' %}</label>

                    <div class="col-sm-6" id="downloadFile"
                         style="display: {% if task.file %}block{% else %}none{% endif %};">
                        {% if task.file %}
                            <a class="btn btn-success" href="javascript:window.open('{{ task.file_url.url }}', '_blank')">
                                <i class="fa fa-cloud-download"></i>{% trans 'x_download_annex' %}
                            </a>
                        {% else %}
                            <a></a>
                        {% endif %}
                        <button type="button" class="btn btn-danger" onclick="CALLBACK.deleteFile()">
                            <i class="fa fa-cloud"></i> {% trans 'x_delete_annex' %}
                        </button>
                    </div>

                    <div class="col-sm-6" id="uploadFile"
                         style="display: {% if task.file %}none{% else %}block{% endif %};">
                        <input type="file" class="form-control" id="file" name="file">
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group" id="taskUrl">
                    <label class="col-sm-2 control-label">{% trans 'URL' %}</label>

                    <label id="urlLabel" style="display: none" class="col-sm-3 label label-info"
                           style="font-size: 18px;"></label>

                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="url" name="url"
                                {% if task.url %} value="{{ task.url }}" {% endif %}>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">{% trans 'x_dynamic_env' %}</label>
                    <div class="col-sm-6">
                        <input type="hidden" name="is_dynamic_env" data-form-fixed="1"
                               value="{% if task.is_dynamic_env %}1{% else %}0{% endif %}">
                        <input type="checkbox" class="form-control js-switch" id="is_dynamic_env"
                               data-name="is_dynamic_env"
                                {% if task.is_dynamic_env %} checked {% endif %}>
                    </div>
                </div>
                <div class="hr-line-dashed" data-display="is_dynamic_env"></div>
                <div class="form-group" data-display="is_dynamic_env">
                    <label class="col-sm-2 control-label">{% trans 'x_sence_setting' %}</label>
                    <div class="col-sm-10">
                        <input type="hidden" id="task_env__env" name="task_env__env"/>
                        <span class="btn btn-primary" onclick="showSelectEnv();">{% trans 'x_choose_scene' %}</span>
                        <span class="hint">
                            {% if task.task_env and task.task_env.env %}
                                <a href="{% url 'cms_common_env:env_detail' task.task_env.env %}"
                                   target="_blank">{{ task.task_env.title }}</a>
                            {% endif %}
                        </span>
                    </div>
                </div>
                <div class="hr-line-dashed" data-display="is_dynamic_env"></div>
                <div class="form-group" data-display="is_dynamic_env">
                    <label class="col-sm-2 control-label">{% trans 'x_access_mode' %}</label>
                    {% if mode == 0 %}
                        <div class="col-sm-2">
                            <input type="hidden" name="task_env__type" data-form-fixed="1"
                                   value="1">
                            {% trans 'x_shared' %}
                            <input type="checkbox" class="form-control js-switch" id="task_env__type"
                                   data-name="task_env__type" checked>
                            {% trans 'x_private' %}
                        </div>{% else %}
                        <div class="col-sm-2">
                            <input type="hidden" name="task_env__type" data-form-fixed="1"
                                   value="{% if task.task_env %}{{ task.task_env.type }}{% else %}0{% endif %}">
                            {% trans 'x_shared' %}
                            <input type="checkbox" class="form-control js-switch" id="task_env__type"
                                   data-name="task_env__type"
                                    {% if task.task_env.type == 1 %} checked {% endif %}>
                            {% trans 'x_private' %}
                        </div>
                    {% endif %}
                </div>
                <div class="hr-line-dashed" data-display="is_dynamic_env"></div>
                <div class="form-group" data-display="is_dynamic_env">
                    <label class="col-sm-2 control-label">{% trans 'x_dymaic_flag' %}</label>
                    <div class="col-sm-2">
                        <input type="hidden" name="task_env__is_dynamic_flag" data-form-fixed="1"
                               value="{% if task.task_env.is_dynamic_flag %}1{% else %}0{% endif %}">
                        <input type="checkbox" class="form-control js-switch" id="task_env__is_dynamic_flag"
                               data-name="task_env__is_dynamic_flag"
                                {% if task.task_env.is_dynamic_flag %} checked {% endif %}>
                    </div>

                    <label class="col-sm-2 control-label">{% trans 'x_survival_time' %}</label>
                    <div class="col-sm-2">
                        <div class="input-group">
                            <input type="number"  min="0" class="form-control"
                                   data-form-fixed="1"
                                   id="task_env__destroy_delay"
                                   name="task_env__destroy_delay"
                                   value="{% if task.task_env %}{{ task.task_env.destroy_delay }}{% else %}2{% endif %}"
                                   style="background-color: transparent;outline: none;cursor: auto;" />
                            <div class="input-group-addon">{% trans 'x_hours' %}</div>
                        </div>
                    </div>
                </div>
                <div class="hr-line-dashed" data-display="not_dynamic_flag"></div>
                <div class="form-group" data-display="not_dynamic_flag">
                    <label class="col-sm-2 control-label">{% trans 'Flags' %}</label>
                    <div class="col-sm-6">
                        <input type="text" placeholder="{% trans 'x_flag_split' %}" class="form-control" id="answer" name="answer"
                                {% if task.answer %} value="{{ task.answer }}" {% endif %}>
                    </div>
                </div>
                <div class="hr-line-dashed hidden" data-display="is_dynamic_env is_dynamic_flag"></div>
                <div class="form-group hidden" data-display="is_dynamic_env is_dynamic_flag">
                    <label class="col-sm-2 control-label">{% trans 'x_flag_count' %}</label>
                    <div class="col-sm-6">
                        {#                        <input type="number" class="form-control" id="flag_count" name="flag_count" min="1"#}
                        {#                               value="{{ task.task_env.flag_count }}">#}
                        <input type="number" class="form-control" id="task_env__flag_count" name="task_env__flag_count"
                               min="1"
                               value="1" data-form-fixed="1">
                    </div>
                </div>

                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">{% trans 'x_is_public' %}</label>
                    <div class="col-sm-6">
                        <input type="hidden" name="public" data-form-fixed="1"
                               value="{% if task.public %}1{% else %}0{% endif %}">
                        <input type="checkbox" class="form-control js-switch" id="public"
                               data-name="public"
                                {% if task.public %} checked {% endif %}>
                    </div>
                </div>

                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">{% trans 'x_is_show_official_wp' %}</label>

                    <div class="col-sm-6">
                        <input type="hidden" name="public_official_writeup" data-form-fixed="1"
                               value="{% if task.public_official_writeup %}1{% else %}0{% endif %}">
                        <input type="checkbox" class="form-control js-switch" id="public_official_writeup"
                               data-name="public_official_writeup"
                                {% if task.public_official_writeup %} checked="" {% endif %}>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">{% trans 'x_official_wp' %}</label>

                    <div class="col-sm-6">
                            <textarea class="form-control" id="official_writeup"
                                      name="official_writeup">{% if task.official_writeup %}
                                {{ task.official_writeup }}{% endif %}</textarea>
                    </div>
                </div>
                <div class="form-group" id="progress-toggle">
                    <label class="col-sm-2 control-label">"{% trans 'x_annex_uploading' %}"</label>
                    <div class="progress col-sm-4 col-md-4">
                        <div class="bar"></div>
                        <div class="percent">0%</div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-8 col-sm-offset-2">
                        <div class="alert alert-danger server-error" id="server-error">
                        </div>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-2">
                        <a class="btn btn-white return">{% trans 'x_cancel' %}</a>
                        <button class="btn btn-primary" type="submit" id="save">{% trans 'x_save' %}</button>
                    </div>
                </div>
                <input type="hidden" id="refer" name="refer">
            </div>
        </form>
    </div>

    <!-- 选择场景 -->
    <div class='modal fade' id='selectEnv' tabindex='-1' role='dialog' aria-labelledby='myModalLabel'
         aria-hidden='true'>
        <div class='modal-dialog modal-lg' style='top: 200px;'>
            <div class='modal-content'>
                <div class='modal-header'>
                    <button type='button' class='close' data-dismiss='modal'><span
                            aria-hidden='true'>&times;</span><span
                            class='sr-only'>Close</span></button>
                    <h4 class='modal-title' id='myModalLabel'>{% trans 'x_choose_scene' %}</h4>
                </div>
                <div class='modal-body'>
                    <div data-widget-id='select-env' data-instance-id='t1'></div>
                </div>
                <div class='clearfix modal-footer'>
                    <span class="btn btn-success" onclick="selectEnv();">{% trans 'x_confirm' %}</span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block bottom_js %}
    <script>
        var listUrl = "{% url 'cms_practice_man_machine:task_list' %}";
        {% if mode == 1 %}
            var patchUrl = "{% url 'cms_practice_man_machine:cms_api:man-machine-task-detail' task.id %}"
        {% else %}
            var patchUrl = "{% url 'cms_practice_man_machine:cms_api:man-machine-task-list' %}"
        {% endif %}
    </script>
    <script>
        var returnUrl = urlparser.getQueryString("return");
        returnUrl = returnUrl ? returnUrl : listUrl;
        $("#content").initSummernote({height: 400});
        $("#official_writeup").initSummernote({height: 400});
        var CALLBACK = {

            deleteFile: function () {
                ajaxDialog.buttonClick(http.patch, patchUrl, {file: null}, function () {
                    $("#downloadFile").hide();
                    $("#uploadFile").show();
                })
            }
        }

        $(function(){
            var ignoreShare = urlparser.getQueryString("ignore_share");
            if (ignoreShare == 1) {
                var action = $("#validateForm").attr('action');
                action = action + '?ignore_share=1';
                $("#validateForm").attr('action', action);
            }
        }());
    </script>
    <script>
        $(function () {
            $('.return').attr('href', returnUrl);
            $('input[type="file"]').prettyFile();
            var elems = Array.prototype.slice.call($('.js-switch'));

            elems.forEach(function (html) {
                if (html.getAttribute('id') === 'task_env__is_dynamic_flag'){
                    flag_switchery = new Switchery(html, {color: "#1AB394"});
                }else {
                    switchery = new Switchery(html, {color: "#1AB394"});
                }

                $(html).change(function () {
                    var name = $(this).attr('data-name');
                    var $input = $(this).siblings('[name=' + name + ']');
                    if ($(this).prop('checked')) {
                        $input.val(1);
                    } else {
                        $input.val(0);
                    }
                });
            });
            setDymaicEnvStyle();
        });


        $(function () {
{#            $("#validateForm").validate({#}
{#                rules: {#}
{#                    category: {#}
{#                        required: true,#}
{#                    },#}
{#                    event: {#}
{#                        required: true,#}
{#                    },#}
{#                    title: {#}
{#                        required: true,#}
{#                    },#}
{#                    score: {#}
{#                        required: true,#}
{#                        digits: true,#}
{#                        min: 0#}
{#                    },#}
{#                    content: {#}
{#                        required: true#}
{#                    }#}
{#                },#}
{#            });#}


            $("#validateForm").ajaxFormDialog(function () {
                setTimeout(function () {
                    window.location.href = returnUrl;
                }, ajaxDialog.defaultDelayTime);
            }, null, {beforeSerialize:function () {
                    var title = '';
                    var arr = [];
                    var indexArr = [];
                    var dic = {'0':$('#title').parent().prev().text(),
                            '1':$('#score').parent().prev().text()
                            }
                    arr.push($('#title').val(),$('#score').val());
                    $.each(arr,function(index,value){
                        if(arr[index] == '')
                            indexArr.push(index)
                    });
                    for(index in indexArr){
                        title = title + dic[indexArr[index]] + '该字段不能为空！';
                        if (index != indexArr.length)
                            title += '\n';
                    }
                    if (indexArr.length>0){
                        swal({
                        title:title,
                        type: "error",
                        confirmButtonText: '{% trans 'x_confirm' %}',
                    });
                        return false;
                    }

                }});
        });


        function setDymaicEnvStyle() {
            if ($('#is_dynamic_env').prop('checked')) {
                $('[data-display*=is_dynamic_env]').show();

                if ($('#task_env__is_dynamic_flag').prop('checked')) {
                    $('[data-display*=is_dynamic_flag]').show();
                    $('[data-display*=not_dynamic_flag]').hide();
                } else {
                    $('[data-display*=is_dynamic_flag]').hide();
                    $('[data-display*=not_dynamic_flag]').show();
                }
            } else {
                if ($('#task_env__is_dynamic_flag').prop('checked')) {
                    $('[name="answer"]').removeAttrs("disabled");
                    $('[name="answer"]').removeAttrs('placeholder');
                    flag_switchery.setPosition(true);
                }
                $('[data-display*=is_dynamic_env]').hide();
                $('[data-display*=not_dynamic_flag]').show();
            }
        }


        $('#is_dynamic_env, #task_env__is_dynamic_flag').change(function () {
            setDymaicEnvStyle();
        });


        // 选择场景
        var selectEnvWidgetBindFlag = false;
        function showSelectEnv() {
            $SELECTENV(function () {
                if (!selectEnvWidgetBindFlag) {
                    $('[data-widget-id=select-env]').bindEnvSelectWidget({type: 1});
                    selectEnvWidgetBindFlag = true;
                }
                $('#selectEnv').modal();
            });
        }

        function selectEnv() {
            var table = envSelectWidgetInstance.t1.table;
            var ids = table.getCheckedValues();
            if (ids.length != 1) {
                popUtil.warningHint(gettext('x_choose_environment'));
                return;
            }
            var envId = ids[0];
            $('[name=task_env__env]').val(envId);
            var data = table.getData(envId);
            var editUrl = '{% url "cms_common_env:env_list" %}' + envId;
            $('[name=task_env__env]').siblings('.hint').html('<a href="' + editUrl + '" target="_blank">' + data.name + '</a>');

            $('#selectEnv').modal('hide');
        }
    </script>
{% endblock %}