{% extends 'web/base.html' %}
{% load staticfiles %}
{% load static %}
{% load i18n %}

{% block other_css_js %}
    <link rel="stylesheet" type="text/css" href="{% static 'course/css/list.css' %}">

    <script src="{% static 'course/js/course_detail.js' %}"></script>
    <style>
        textarea{
            color: #66afe9;
        }
    </style>
{% endblock %}
{% block container %}
    <div class='container mrg93T'>
        <div class="bread">
            <a href="{% url 'common_web:home' %}">{% trans "x_home" %}</a>
            <span>&gt;&gt;</span>
            <a href="{% url 'course:list' %}">{% trans "x_course" %}</a>
            <span>&gt;&gt;</span>
            <a href="" class='active font15' name="name"></a>
        </div>
        <div class="content pad10T">
            <div class="row mrg0A mrg30B">
                <div class="col-md-9 pad20A">
                    <div class="row default-bg pad25A mrg30B pad40T posRelative oj_course">
                        <div class="col-md-5">
                            <img src="" alt="" style="width:100%" name="logo">
                            {#                            <span name="logo"></span>#}
                        </div>
                        <div class="col-md-7 pad40L">
                            <div class="col-md-12">
                                <div class="font26 whiteC mrg10B">
                                    <span name="name"></span>
                                </div>
                                <div style="margin-top:5%;margin-bottom:3%">
                                    <span>{% trans "x_category" %}：</span>
                                    <span class="mrg20R" name="direction"></span>
                                </div>
                                <div style="margin-bottom:3%">
                                    <span>{% trans "x_num_hour" %}：</span>
                                    <span name="count"></span>
                                </div>
                                <div>
                                    <span class="pull-left">{% trans "x_introduction" %}：</span>
                                    <span name="introduction"></span>
                                </div>
{#                                <a href="javascript:void(0);" name="learn" target="_blank">#}
{#                                    <div class="pad5T pad5B pad15L pad15R fl btn btn-warning learn mainBg">#}
{#                                        <span class="studyIco pad15A fl mrg5R oj-icon whiteC"></span>#}
{#                                        <span class="fl lineH30 whiteC">{% trans "学习课程" %}</span>#}
{#                                    </div>#}
{#                                </a>#}
                            </div>
                        </div>
                        <div class="pad5A collect orangeC2" style="display: none;">
                            <span class="font14 mrg10R">{% trans "x_collection" %}</span>
                            <i class="oj-icon oj-icon-E90B whiteC"></i>
                            <a href="#" class="fill inLine collectButton"></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 pad0L pad0R couseDetail">
                            <ul id="myTab" class="nav nav-tabs pad10T pad10B pad40L font16 default-bg">
                                <li class="active mrg30L mrg30R" style="text-align:center;overflow:hidden;">
                                    <a href="#list" data-toggle="tab" class="pad30L pad30R pad5T pad5B">
                                            {% trans "x_curriculum_catalogues" %}
                                    </a>
                                </li>
                                <li class="mrg30L mrg30R" style="text-align:center;overflow:hidden;">
                                    <a href="#note" data-toggle="tab"
                                       class="pad30L pad30R pad5T pad5B">{% trans "x_my_note" %}</a>
                                </li>
                                <li class="mrg30L mrg30R" style="text-align:center;overflow:hidden;">
                                    <a href="#forum" data-toggle="tab" id="clicka"
                                       class="pad5T pad5B">{% trans "x_cloud_exchange" %}</a>
                                </li>
                            </ul>
                            <div id="myTabContent" class="tab-content pad20T pad20B">
                                <div class="tab-pane fade in active default-bg pad30T pad30B" id="list">
                                    <ul class="assess-content" style="display: block;" id="lesson-list-div">
                                    </ul>
                                </div>
                                <div class="tab-pane fade default-bg pad30T pad30R pad30L pad30B" id="note">
                                    {% include "web/mynote.html" %}
                                </div>
                                <div class="tab-pane fade" id="forum" style="position:relative;">
                                    {% include "web/comment_template.html" %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 pad20A">
                    <div class="row">
                        <div class="col-md-12 col-xs-12 fr">
                            <div class="lineH40 mainBg pad20L whiteC">
                                {% trans "x_related_good_lesson" %}
                            </div>
                            <div class="row default-bg pad25L pad25R mrg0A" id="releated-course-list-div">
                            </div>
                            <div class="row text-center lineH40 default-bg grayC font14 mrg0A"
                                 style="position:relative;margin-top:-1px;">
                                {% trans "x_see_more" %}
                                <a href="{% url 'course:list' %}" class="fill"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="lesson-template-div" style="display: none;">
        <li class="directory" style="" data-lesson-id="">
            <div class="directory-list pad30L pad30R clearfix">
                <div class="pull-left">
                    <span data-name="preicon" name=""></span>
                    <span name="lt-name"></span>
                </div>
                <div class="pull-right">
                    <span class="col-md-2" name="type" style="text-align:center;overflow:hidden;width:86px;"></span>
                    <span class="col-md-2" name="difficulty" style="text-align:center;overflow:hidden;width:86px;"></span>
                    <span class="col-md-2" name="learned" style="text-align:center;overflow:hidden;width:86px;"></span>
                </div>
            </div>
        </li>
    </div>

    <div id="releated-course-template-div" style="display: none;">
        <div class="mrg10B pad20A">
            <a>
                <img src="" alt="" style="width:100%"
                     class="mrg20B">
                {#                <span name='rc-img'></span>#}
            </a>
            <a>
                <div class="text-center lineH30 orangeC" name="rc-name">
                </div>
            </a>
            {#            <div class="text-center font14 orangeC2" name="rc-direction">#}
            {#            </div>#}
        </div>
    </div>

    <script type="text/javascript">
        function init_click_event() {
            $("#lesson-list-div li").click(function () {
                var lesson_id = $(this).attr("data-lesson-id");
                var coursess_id = '{{ course_id }}';
                {#window.open("{% url 'course:learn_lesson' course_id  -1%}".replace("-1", lesson_id), "_self");#}
                window.open("{% url 'course:markdown_new'%}"+"?course_id="+coursess_id+"&lesson_id="+lesson_id, "_self");
            });
        }

        function init_course_detail() {
            $.ajax({
                url: "{% url 'course:api:course-detail' course_id %}",
                type: "get",
                datatype: "json",
                success: function (data) {
                    $("[name='name']").html(codeUtil.htmlEncode(data.name));
                    var logo = data.logo;
                    if (logo == null || logo == "") {
                        logo = "{% static 'course/img/kec.png' %}";
                    }
                    $("img[name='logo']").attr("src", logo);
                    {#            $(".oj_course span[name='logo']").css("background-image","url("+logo+")");#}
                    $("[name='direction']").html(codeUtil.htmlEncode(data.direction_i18n_name) + " / " + codeUtil.htmlEncode(data.sub_direction_i18n_name));
                    $("[name='count']").html(data.count);
                    var intro = data.strip_introduction;
                    if(intro && intro!="None"){
                        $("[name='introduction']").html(intro);
                        $("[name='introduction']").attr("title", intro);
                    }else{
                        $("[name='introduction']").html("");
                    }
                    if (Number(data.count) > 0) {
                        $("[name='learn']").attr("href", "{% url 'course:learn' course_id %}");
                    } else {
                        $("[name='learn']").click(function () {
                            showPopMsg("{% trans 'x_class_not_in_course' %}");
                        })
                    }
                    // 初始化用户笔记
                    init_course_note(data.hash);

                    // 初始化评论列表
                    init_comment_list(data.hash);
                },
                error: function () {
                    showPopMsg("{% trans 'x_unable_get_details' %}");
                }
            });
        }

        function init_lesson_list() {
            var lesson_list_div = $("#lesson-list-div");
            var lesson_tpl = $("#lesson-template-div");
            lesson_list_div.empty();
            var theory_index = 0;
            var exp_index = 0;

            $.ajax({
                url: "{% url 'course:api:lesson-list' %}",
                type: "get",
                data: {"course_id": {{ course_id }}},
                datatype: "json",
                success: function (data) {
                    if (data.total > 0) {
                        var lesson_list = data.rows;
                        for (var i in lesson_list) {
                            var lesson_name, type_class, difficulty, learned_class, preicon, learned_text,lesson_title;
                            if (lesson_list[i].type == '0') {
                                theory_index = theory_index + 1;
                                lesson_name = "{% trans "x_class_hours" %}" + theory_index + "： " + codeUtil.htmlEncode(lesson_list[i].name);
                                type_class = "oj-icon oj-icon-E900";
                                lesson_title = "{% trans 'x_heoretical_lesson' %}";
                            } else {
                                exp_index = exp_index + 1;
                                lesson_name = "{% trans "x_experiment" %}" + exp_index + "： " + codeUtil.htmlEncode(lesson_list[i].name);
                                type_class = "oj-icon oj-icon-E923";
                                lesson_title = "{% trans 'x_experiment_lesson' %}";
                            }
                            lesson_tpl.find("li").attr("data-lesson-id", lesson_list[i].id);
                            lesson_tpl.find("span[name='lt-name']").html(lesson_name);
                            lesson_tpl.find("span[name='type']").attr("class", type_class);
                            lesson_tpl.find("span[name='type']").attr("title", lesson_title);
                            if (lesson_list[i].difficulty == "0"){
                                difficulty = "{% trans "x_easy" %}";
                            }else if(lesson_list[i].difficulty == "1"){
                                difficulty = "{% trans "x_normal" %}";
                            }else{
                                difficulty = "{% trans "x_hard" %}";
                            }
                            lesson_tpl.find("span[name='difficulty']").html(difficulty);
                            if(lesson_list[i].learning_status == "2"){
                                learned_class = "learned";
                                learned_text = "{% trans "x_learned" %}";
                                preicon = "orange-dot";
                            }else if (lesson_list[i].learning_status == "1"){
                                learned_class = "learning";
                                learned_text = "{% trans "x_learning" %}";
                                preicon = "orange-learning";
                            }else{
                                learned_class = "unlearned";
                                learned_text = "{% trans "x_unlearned" %}";
                                preicon = "orange-hollow";
                            }
                            lesson_tpl.find("span[name='learned']").attr("class", learned_class);
                            lesson_tpl.find("span[name='learned']").html(learned_text);
                            lesson_tpl.find("span[data-name='preicon']").attr("name", preicon);
                            lesson_list_div.append(lesson_tpl.html());
                        }
                        init_click_event();
                    }
                },
                error: function () {
                    showPopMsg("{% trans 'x_course_directory' %}");
                }
            });
        }

        function init_releated_course_list() {
            var rc_list_div = $("#releated-course-list-div");
            var rc_tpl = $("#releated-course-template-div");
            rc_list_div.empty();

            $.ajax({
                url: "{% url 'course:recommand' %}",
                type: "get",
                data: {"course_id": {{ course_id }}},
                datatype: "json",
                success: function (data) {
                    var course_list = data;
                    for (var i in course_list) {
                        var logo = course_list[i].logo;
                        if (logo == null || logo == "") {
                            logo = "{% static 'course/img/kec.png' %}";
                        }
                        rc_tpl.find("img").attr("src", logo).addClass('larger-img');
                        rc_tpl.find("a").attr("href", "{% url 'course:detail' 0 %}".replace("0", course_list[i].id));
                        {#                rc_tpl.find("span[name='rc-img']").css("background-image","url("+logo+")");#}
                        rc_tpl.find("div[name='rc-name']").html(codeUtil.htmlEncode(course_list[i].name));
                        rc_tpl.find("div[name='rc-name']").attr('title', codeUtil.htmlEncode(course_list[i].name));
                        {#                    rc_tpl.find("div[name='rc-direction']").html(course_list[i].direction_cn_name);#}
                        rc_list_div.append(rc_tpl.html());
                    }
                },
                error: function () {
                    showPopMsg("{% trans 'x_unable_get_courses' %}");
                }
            });
        }

        $(function () {
            init_course_detail();
            init_lesson_list();
            init_releated_course_list();

            // 回复锚点跳转
            var url = window.location.toString();
            var click_to = url.split("#")[1];
            if (click_to == "clicka") {
                $("[href='#forum']").click()
            }
        })


    </script>
{% endblock %}

<!-- container end-->




