@charset "UTF-8";
@font-face {
  font-family: 'OjIcon';
  src: url("../fonts/ojicon.ttf");
}
/* line 7, ojicon.scss */
.oj-icon {
  display: inline-block;
  font: normal normal normal 14px/1 OjIcon;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 16, ojicon.scss */
.oj-icon-E900:before {
  content: "";
}

/* line 20, ojicon.scss */
.oj-icon-E901:before {
  content: "";
}

/* line 24, ojicon.scss */
.oj-icon-E902:before {
  content: "";
}

/* line 28, ojicon.scss */
.oj-icon-E903:before {
  content: "";
}

/* line 32, ojicon.scss */
.oj-icon-E904:before {
  content: "";
}

/* line 36, ojicon.scss */
.oj-icon-E905:before {
  content: "";
}

/* line 40, ojicon.scss */
.oj-icon-E906:before {
  content: "";
}

/* line 44, ojicon.scss */
.oj-icon-E907:before {
  content: "";
}

/* line 48, ojicon.scss */
.oj-icon-E908:before {
  content: "";
}

/* line 52, ojicon.scss */
.oj-icon-E909:before {
  content: "";
}

/* line 56, ojicon.scss */
.oj-icon-E90A:before {
  content: "";
}

/* line 60, ojicon.scss */
.oj-icon-E90B:before {
  content: "";
}

/* line 64, ojicon.scss */
.oj-icon-E90C:before {
  content: "";
}

/* line 67, ojicon.scss */
.oj-icon-E90D:before {
  content: "";
}

/* line 70, ojicon.scss */
.oj-icon-E90E:before {
  content: "";
}

/* line 73, ojicon.scss */
.oj-icon-E90F:before {
  content: "";
}

/* line 76, ojicon.scss */
.oj-icon-E910:before {
  content: "";
}

/* line 79, ojicon.scss */
.oj-icon-E911:before {
  content: "";
}

/* line 82, ojicon.scss */
.oj-icon-E912:before {
  content: "";
}

/* line 85, ojicon.scss */
.oj-icon-E913:before {
  content: "";
}

/* line 88, ojicon.scss */
.oj-icon-E914:before {
  content: "";
}

/* line 91, ojicon.scss */
.oj-icon-E915:before {
  content: "";
}

/* line 94, ojicon.scss */
.oj-icon-E916:before {
  content: "";
}

/* line 97, ojicon.scss */
.oj-icon-E917:before {
  content: "";
}

/* line 100, ojicon.scss */
.oj-icon-E918:before {
  content: "";
}

/* line 103, ojicon.scss */
.oj-icon-E919:before {
  content: "";
}

/* line 106, ojicon.scss */
.oj-icon-E91A:before {
  content: "";
}

/* line 109, ojicon.scss */
.oj-icon-E91B:before {
  content: "";
}

/* line 112, ojicon.scss */
.oj-icon-E91C:before {
  content: "";
}

/* line 115, ojicon.scss */
.oj-icon-E91D:before {
  content: "";
}

/* line 118, ojicon.scss */
.oj-icon-E91E:before {
  content: "";
}

/* line 121, ojicon.scss */
.oj-icon-E91F:before {
  content: "";
}

/* line 124, ojicon.scss */
.oj-icon-E920:before {
  content: "";
}

/* line 127, ojicon.scss */
.oj-icon-E921:before {
  content: "";
}

/* line 130, ojicon.scss */
.oj-icon-E922:before {
  content: "";
}

/* line 133, ojicon.scss */
.oj-icon-E923:before {
  content: "";
}

/* line 136, ojicon.scss */
.oj-icon-E924:before {
  content: "";
}

/* line 139, ojicon.scss */
.oj-icon-E925:before {
  content: "";
}

/* line 142, ojicon.scss */
.oj-icon-E926:before {
  content: "";
}

/* line 145, ojicon.scss */
.oj-icon-E927:before {
  content: "";
}

/* line 148, ojicon.scss */
.oj-icon-E928:before {
  content: "";
}

/* line 151, ojicon.scss */
.oj-icon-E929:before {
  content: "";
}

/* line 154, ojicon.scss */
.oj-icon-E92A:before {
  content: "";
}

/* line 157, ojicon.scss */
.oj-icon-E967:before {
  content: "";
}

/* line 160, ojicon.scss */
.oj-icon-E971:before {
  content: "";
}

/* line 163, ojicon.scss */
.oj-icon-E986:before {
  content: "";
}
