@charset "utf-8";
@font-face {
  font-family: 'OjIcon';
  src: url('../fonts/ojicon.ttf');
}

.oj-icon {
  display: inline-block;
  font: normal normal normal 14px/1 OjIcon;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.oj-icon-E900:before {
  content: "\E900"
}

.oj-icon-E901:before {
  content: "\E901"
}

.oj-icon-E902:before {
  content: "\E902"
}

.oj-icon-E903:before {
  content: "\E903"
}

.oj-icon-E904:before {
  content: "\E904"
}

.oj-icon-E905:before {
  content: "\E905"
}

.oj-icon-E906:before {
  content: "\E906"
}

.oj-icon-E907:before {
  content: "\E907"
}

.oj-icon-E908:before {
  content: "\E908"
}

.oj-icon-E909:before {
  content: "\E909"
}

.oj-icon-E90A:before {
  content: "\E90A"
}

.oj-icon-E90B:before {
  content: "\E90B"
}

.oj-icon-E90C:before {
  content: "\E90C"
}
.oj-icon-E90D:before {
  content: "\E90D"
}
.oj-icon-E90E:before {
  content: "\E90E"
}
.oj-icon-E90F:before {
  content: "\E90F"
}
.oj-icon-E910:before {
  content: "\E910"
}
.oj-icon-E911:before {
  content: "\E911"
}
.oj-icon-E912:before {
  content: "\E912"
}
.oj-icon-E913:before {
  content: "\E913"
}
.oj-icon-E914:before {
  content: "\E914"
}
.oj-icon-E915:before {
  content: "\E915"
}
.oj-icon-E916:before {
  content: "\E916"
}
.oj-icon-E917:before {
  content: "\E917"
}
.oj-icon-E918:before {
  content: "\E918"
}
.oj-icon-E919:before {
  content: "\E919"
}
.oj-icon-E91A:before {
  content: "\E91A"
}
.oj-icon-E91B:before {
  content: "\E91B"
}
.oj-icon-E91C:before {
  content: "\E91C"
}
.oj-icon-E91D:before {
  content: "\E91D"
}
.oj-icon-E91E:before {
  content: "\E91E"
}
.oj-icon-E91F:before {
  content: "\E91F"
}
.oj-icon-E920:before {
  content: "\E920"
}
.oj-icon-E921:before {
  content: "\E921"
}
.oj-icon-E922:before {
  content: "\E922"
}
.oj-icon-E923:before {
  content: "\E923"
}
.oj-icon-E924:before {
  content: "\E924"
}
.oj-icon-E925:before {
  content: "\E925"
}
.oj-icon-E926:before {
  content: "\E926"
}
.oj-icon-E927:before {
  content: "\E927"
}
.oj-icon-E928:before {
  content: "\E928"
}
.oj-icon-E929:before {
  content: "\E929"
}
.oj-icon-E92A:before {
  content: "\E92A"
}
.oj-icon-E967:before {
  content: "\E967"
}
.oj-icon-E971:before {
  content: "\E971"
}
.oj-icon-E986:before {
  content: "\E986"
}