{% extends 'web/base.html' %}
{% load staticfiles %}
{% load i18n %}



{% block other_css_js %}
    <link rel="stylesheet" type="text/css" href="{% static 'x_person/css/layout.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'web/css/calendar.css' %}"/>
    <link rel="stylesheet" href="{% static 'web/font-awesome-4.7.0/css/font-awesome.css' %}">
    <script src="{% static 'web/echarts/echarts.min.js' %}"></script>
    <script src="{% static 'x_person/js/echarts-base.js' %}"></script>
    <script src="{% static 'x_person/js/calendar.js' %}"></script>
    <script src="{% static 'web/js/common.js' %}"></script>
{% endblock %}



{% block container %}
        <div class="content mrg30T default-bg pad60T mrg0L mrg0R ">
            <div class="row centerDiv" id="forget_password">
                <form class="col-lg-10 col-md-12 col-sm-12 " id="validateForm"
                      action="{% url 'x_person:forget_password' %}"
                      method="POST">{% csrf_token %}
                    {# 右侧信息#}
                    <div class="row">
                        <div class="info-form col-md-10 personal-info-form">
                            <div class="form-group form-inline clearfix">
                                <i class='icon-icons-10' for="" title="用户名"></i>
                                <input class='form-control layout-color' name="username" type="text" value="" v-model="userinfo.username"
                                       placeholder="{% trans 'x_user_name' %}">
                                <span class="need-info">*</span>
                            </div>
{#                            <div class="form-group form-inline clearfix">#}
{#                                <i class='fa fa-envelope-o' for="" title="邮箱"></i>#}
{#                                <input class='form-control layout-color' name="email" type="email" value="" placeholder="{% trans '邮箱' %}"#}
{#                                       v-model="userinfo.email">#}
{#                                <span class="need-info">*</span>#}
{#                            </div>#}
                            <p class="text-center">
                                <button class="btn-common mrg50B mrg20T"  type="submit"><div class="left-right-line">{% trans '发送电子邮件' %}</div></button>
                            </p>
                        </div>
                    </div>

                </form>
            </div>
        </div>

{% endblock %}