{% extends 'web/base.html' %}
{% load staticfiles %}
{% load i18n %}



{% block other_css_js %}
    <link rel="stylesheet" type="text/css" href="{% static 'x_person/css/layout.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'web/css/calendar.css' %}"/>
    <link rel="stylesheet" href="{% static 'web/font-awesome-4.7.0/css/font-awesome.css' %}">
    <script src="{% static 'web/echarts/echarts.min.js' %}"></script>
    <script src="{% static 'x_person/js/echarts-base.js' %}"></script>
    <script src="{% static 'x_person/js/calendar.js' %}"></script>
    <script src="{% static 'web/js/common.js' %}"></script>
{% endblock %}



{% block container %}
        <div class="content mrg30T default-bg pad60T mrg0L mrg0R ">
            <div class="row centerDiv" id="set_password">
                <form class="col-lg-10 col-md-12 col-sm-12 " id="validateForm"
                      action="{% url 'x_person:api:user-detail' user.id %}"
                      method="patch">{% csrf_token %}
                    <div class="row">
                        <div class="info-form col-md-10 personal-info-form">
                            <div class="form-group form-inline clearfix">
                                <i class='fa fa-key' for="" title="新密码"></i>
                                <input class='form-control layout-color' name="reset_password" type="password" value="" v-model="userinfo.username"
                                       placeholder="{% trans 'x_new_password' %}">
                                <span class="need-info">*</span>
                            </div>
                            <div class="form-group form-inline clearfix">
                                <i class='fa fa-key' for="" title="确认新密码"></i>
                                <input class='form-control layout-color' name="reset_password_confirm" type="password" value="" placeholder="{% trans 'x_confirm_new_password' %}"
                                       v-model="userinfo.email">
                                <span class="need-info">*</span>
                            </div>
                            <p class="text-center">
                                <button class="btn-common mrg50B mrg20T" type="submit"><div class="left-right-line"> {% trans 'x_submit' %}</div></button>
                            </p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    <script>
        $("#validateForm").ajaxFormDialog(function () {
            setTimeout(function () {
                window.location.href = '/login';
            }, ajaxDialog.defaultDelayTime);
        }, function (xhr, ts, et) {
            $('#errorMsg').html(JSON.parse(xhr.responseText).detail);
            $("#error-msg-warp").modal();
            $("#error-msg-warp").show();
        })
    </script>

{% endblock %}