{% extends 'web/base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load static_v %}

{% block other_css_js %}
    <link rel="stylesheet" type="text/css" href="{% static 'x_person/css/vue-pageination.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static_v 'x_person/css/layout.css' %}"/>
     {% if LANGUAGE_CODE == 'zh-hans' %}
         <link rel="stylesheet" type="text/css" href="{% static_v 'x_person/css/layout-zh.css' %}"/>
    {% else %}
         <link rel="stylesheet" type="text/css" href="{% static_v 'x_person/css/layout-en.css' %}"/>
    {% endif %}

    <script src="{% static 'x_person/js/uploadPreview.js' %}"></script>
    <script src="{% static 'web/js/autosize.js' %}"></script>
    <script src="{% static 'x_person/js/common.js' %}"></script>
    <script src="{% static 'x_person/js/form.utils.js' %}"></script>
    <script src="{% static 'x_person/js/jquery.form.js' %}"></script>
    <script src="{% static 'x_person/js/jquery.md5.js' %}"></script>
    <script src="{% static 'x_person/js/vue-nav.js' %}"></script>
    <script src="{% static 'web/js/autosize.js' %}"></script>
    <script src="{% static 'web/js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'web/js/messages_zh.min.js' %}"></script>
    <script src="{% static "web/artTemplate/template.js" %}"></script>
    <script src="{% static 'lib/hplus/js/plugins/layer/laydate.js' %}"></script>
    <script>
        $(function () {
            autosize(document.querySelectorAll('textarea'));
        })

        $(function () {
            $('.head-show').height($('.head-show').width())
        })
        $(window).resize(function () {
                $('.head-show').height($('.head-show').width())
            }
        )

    </script>
{% endblock %}

{% block container %}
    {#                                <input type="text" name="name" v-model="" class="default-bg form-control layout-color"#}
    {#                                   placeholder="队伍名称"/>#}
    <section class="container layout-color mrg93T" id="edit_team_info">
        <input type="hidden" id="language-code" value="{{ LANGUAGE_CODE }}">
        <div class="bread layout-color">
            <a class="layout-color" href="{% url 'common_web:home' %}">{% trans 'x_home' %}</a> >>
            <a href="{% url 'x_person:team' %}">{% trans 'x_my_tram' %}</a>>>
            <a href="" class="active font15">{% trans 'x_edit_information' %}</a>
        </div>
        {#    资料编辑框start#}
        <div class="team-edit-box default-bg">
            <div class="clearfix team-inf-edit">
                <form id="validateForm" class="team-edit-form"
                      action="{% url 'x_person:api:team-detail' teamid %}"
                      method="patch">{% csrf_token %}
                    <div class="col-lg-2 col-md-3 col-sm-3 col-xs-3 text-center team-logo" id="headBox">
                    <span><img id="headShow" class="img-responsive img-circle" v-if="teaminfo.logo_url"
                               v-bind:src="teaminfo.logo_url">
                        <img id="headShow" class="img-responsive img-circle head-show" v-else
                             src="/static/x_person/img/team_logo.png"></span>
                        <input id="up_teamLogo" name="logo" type="file" style="display: none"/>
                        <div class="click-upload text-center"
                             onclick="$('#up_teamLogo').click()">{% trans 'x_modify_logo' %}
                        </div>
                    </div>
                    <div class="col-lg-10 col-md-9 col-sm-9 col-xs-9">
                        <div class="form-group form-inline">
                            <label for="">{% trans 'x_team_name' %}：</label>
                            <span style="font-size: 15px" v-html="my_escape(teaminfo.name)"></span>
                        </div>
                        <div class="form-group form-inline" id="team-set-up-time">
                            <label for="">{% trans 'x_time_establishment' %}：</label>
                            <input type="text" name="create_time" class="default-bg form-control layer-date laydate-icon layout-color"
                                   v-model="teaminfo.create_time"  id ='create_time'
                                   placeholder="{% trans 'x_team_name' %}"/>
                        </div>
                        <div class="form-group form-inline">
                            <label for="">{% trans 'x_team_profile' %}：</label>
                            <textarea style="word-break:break-all;" type="text" name="brief_introduction" v-model="teaminfo.brief_introduction"
                                      class="  default-bg layout-color form-control layout-color"
                                      placeholder="{% trans 'x_team_profile' %}"></textarea>
                        </div>
                    </div>
                    <div class="centerDiv" style="width: 100%">
                        {#      解散按钮start      #}
                        <div class="dismiss-btn mrg10R">
                            <button type="button" class="team-dismiss-btn text-center center-block whiteC"
                                    v-on:click="dismiss_team()" data-toggle="modal"
                                    data-target="#hint-msg-confirm">{% trans 'x_fired' %}</button>
                        </div>
                        {#      解散按钮end      #}

                        {#      保存按钮start      #}
                        <div class="">
                            <button type="submit" class="btn-common">
                                <div class="left-right-line">{% trans 'x_save' %}</div>
                            </button>
                        </div>
                        {#      保存按钮end      #}
                    </div>

                </form>
            </div>


            <div class="team-member">
                <h2 class="default-bg font20P layout-color clearfix">{% trans 'x_team_members' %}
                    <div class="pull-right invite-members orangeC" data-toggle="modal"
                         data-target="#invite-new-members-modal" style="letter-spacing: 1px">+{% trans 'x_invite_members' %}</div>
                </h2>
                <table class="table">
                    <tbody>
                    <tr v-for="user in user_list">
                        <td>[[ user.real_name ]]<span v-if="user.team_leader">{% trans 'x_captain' %}</span></td>
                        <td v-if="user.team_leader" class="text-right">-</td>
                        <td v-else class="text-right orangeC" v-on:click="remove_team_member(user.id)"
                            data-toggle="modal" data-target="#hint-msg-confirm" style="cursor: pointer;">
                            - {% trans 'x_remove' %}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            {#   资料编辑框end #}
            {#            <div class="dismiss-btn">#}
            {#                <button class="team-dismiss-btn text-center center-block whiteC"#}
            {#                        v-on:click="dismiss_team()" data-toggle="modal"#}
            {#                        data-target="#hint-msg-confirm">{% trans '解散' %}</button>#}
            {#            </div>#}
        </div>
    </section>
    {#    邀请队员弹框#}
    <div class="modal fade" tabindex="-1" role="dialog" id="invite-new-members-modal" style="z-index: 10000">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                    <h4 class="modal-title font18">{% trans 'x_invite_members' %}</h4>
                </div>
                <div class="modal-body" style="min-height: 200px">
                    <form class="text-center" style="">
                        <input id="username" class="form-control layout-color" v-model="username">
                        <button type="button" class="search whiteC"
                                v-on:click="get_user_list()">{% trans 'x_search' %}</button>
                    </form>
                    <div class="clearfix" v-for="user in user_list">
                        <span>[[ user.first_name ]]</span><span style="color: grey">[['('+  user.username + ')']]</span>
                        <span v-on:click="apply_team_member(user.id)" class="pull-right" v-bind:data-id="user.id"
                                  style="cursor:pointer">
                          <p v-if="user.applided == 1" class="btn-primary">{% trans 'x_already_invited' %}</p>
                          <p v-else-if="user.applided == 2" class="btn-success" >{% trans 'x_has_joined' %}</p>
                          <p v-else>{% trans 'x_invitation' %}</p></span>
                    </div>
                    <vue-nav :cur="cur" :all="all" :callback="get_page_data" v-if="user_list"></vue-nav>
                </div>
            </div>
        </div>
    </div>
    {% include 'x_person/web/js_templates/bootstrap_modal.html' %}
{% endblock %}

{% block document_ready %}
    <script>
        var teamUrl = "{% url 'x_person:team_edit' teamid %}";
        var teamUserApiList = "{% url 'x_person:api:team-user-list'%}";
        var listUrl = "{% url 'x_person:team' %}";
        var userApiList = "{% url 'x_person:api:user-list'%}";
    </script>
    <script>
        var returnUrl = urlparser.getQueryString("return");
        returnUrl = returnUrl ? returnUrl : teamUrl;
    </script>
    <script>
        var log = console.log.bind(console)
        $(function () {
            CALLBACK.init_team_detail();
            CALLBACK.get_team_user();
        });

        $(function () {
            $('#error-msg-warp').on('show.bs.modal', function (e) {
                $(this).css('z-index', 10050);

            });

            $("#validateForm").validate({
                rules: {
                    name: {
                        required: true,
                        maxlength: 30
                    },
                    create_time: {
                        required: true,
                        maxlength: 30,
                    }
                },
                messages: {
                    name: {
                        required: gettext("x_required"),
                        maxlength: gettext("x_max_length_30"),
                    },
                    create_time: {
                        required: gettext("x_required"),
                        maxlength: gettext("x_max_length_30"),
                    },
                },
            });

            $("#username").keydown(function (e) {
                if (e.keyCode == 13) {
                    CALLBACK.user_list();
                    return false;
                }
            });


            $("#validateForm").ajaxFormDialog(function () {
                setTimeout(function () {
                    window.location.href = returnUrl;
                }, ajaxDialog.defaultDelayTime);
            }, null, {
                beforeSerialize: function () {
                    if ($("#up_teamLogo").val() == "") {
                        var $ele = $("#validateForm").find('[name="logo"]');
                        $ele.attr('data-form-hidden-name', "logo").removeAttr('name');
                    }
                }
            });
        })

        //图片上传预览
        window.onload = function () {
            new uploadPreview({UpBtn: "up_teamLogo", DivShow: "headBox", ImgShow: "headShow"});
        };

        var app = new Vue({
            el: '#edit_team_info',
            delimiters: ["[[", "]]"],
            data: {
                teaminfo: '',
                user_list: '',
            },
            methods: {
                remove_team_member: function (id) {
                    $('#confirm-msg').text(gettext('x_want_to_continue'));
                    var confirm_button = $('#hint-msg-confirm .btn-confirm')[0];
                    confirm_button.onclick = function () {
                        var data = {
                            'type': 6
                        };
                        http.patch(teamUserApiList + id.toString() + '/', data, function (data) {
                            window.location.href = teamUrl;
                        }, function (xhr, ts, et) {
                            ierror(JSON.parse(xhr.responseText).detail.message);
                        });
                    }
                },
                dismiss_team: function () {
                    $('#confirm-msg').text(gettext('x_want_to_continue'));
                    var confirm_button = $('#hint-msg-confirm .btn-confirm')[0]
                    {#                    var cancel_button = $('#hint-msg-confirm .btn-cancel')[0]#}
                    confirm_button.onclick = function () {
                        var data = {
                            dismiss: 1,
                            teamid:{{ teamid }}
                        };
                        http.patch("{% url 'x_person:api:team-dismiss-team' teamid%}", data, function (data) {
                            window.location.href = returnUrl;
                        }, function (xhr, ts, et) {
                            ierror(JSON.parse(xhr.responseText).detail.message);
                        });
                    }
                    {#                    cancel_button.onclick = function () {#}
                    {#                        window.location.href = teamUrl#}
                    {#                    }#}
                },
                my_escape: function (data) {
                    return codeUtil.htmlEncode(data);

                }
            },
        });
        var apply_modal = new Vue({
            el: '#invite-new-members-modal',
            delimiters: ["[[", "]]"],
            data: {
                username: '',
                user_list: [],
                cur: 1,
                all: '',
                msg: '',
            },
            components: {
                'vue-nav': Vnav
            },
            methods: {
                apply_team_member: function (id) {
                    var data = {
                        is_apply: 0,
                        user: id
                    };
                    http.post(teamUserApiList, data, function (data) {
                        $("[data-id=" + id + "]").children().html(gettext("x_already_invited")).addClass("btn-primary");
                        iwarn("{% trans 'x_inviting_success' %}");
                    }, function (xhr, ts, et) {
                        ierror(JSON.parse(xhr.responseText).detail.message);
                    });
                },
                get_user_list: function (data) {
                    CALLBACK.user_list(data);
                },
                get_page_data: function (data) {
                    this.cur = data
                    apply_modal.get_user_list(data)
                }
            },
        });

        var CALLBACK = {
            init_team_detail: function () {
                http.get("{% url 'x_person:api:team-detail' teamid %}", null, function (data) {
                    app.teaminfo = data
                })
            },
            get_team_user: function () {
                var data = {
                    teamid:{{ teamid }},
                    join: 1,
                };
                http.get(teamUserApiList, data, function (data) {
                    app.user_list = data.rows
                })
            },
            user_list: function (data) {
                var data = {
                    realname: apply_modal.username,
                    offset: (data - 1) * 5,
                    limit: 5,
                };
                apply_modal.user_list=[];
                http.get(userApiList, data, function (data) {
                    apply_modal.all = Math.ceil(data.total / 5)
                    $.each(data.rows, function (n, value) {
                        apply_modal.user_list.push(value)
                    })

                })
            },
        };

         $(function(){
            var now_date = new Date();
            laydate.render({
              elem: '#create_time',
              type: 'datetime',
             max: 'now_date',
            });
            //$('#create_time').val(now_date);
        })

        $("#invite-new-members-modal").on("show.bs.modal", function () {
          apply_modal.get_page_data(1);
        })
    </script>
{% endblock %}

